.about-promo-block{
  position: relative;
  width: 100%;
  margin-top: 76px;

  &__img{
    height: 390px;
    display: block;
    width: 100%;
  }

  &__text{
    .gotham-m;
    color: @white-color;
    font-size: 44px;
    position: absolute;
    display: block;
    bottom: 50px;
    left: 0;
    right: 0;
    text-align: center;
  }
}

.about-lead{
  .gotham-m;
  font-size: 26px;
  text-align: center;
  color: @black-color;
  margin-top: 55px;
  margin-bottom: 60px;
}

.about-headers{
  .gotham-m;
  font-size: 26px;
  text-align: left;
  color: @black-color;
  margin: 0;
}

.about-goals, .about-mission{
  margin-bottom: 60px;
}