.bottom-line-light{
  border-bottom: 1px solid rgba(255,255,255,0.2);
}

.bottom-line-grey{
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.right-line-grey{
  border-right: 1px solid rgba(0, 0, 0, 0.1);;
}

.left-line-grey{
  border-left: 1px solid rgba(0, 0, 0, 0.1);;
}

.non-padding-right{
  padding-right: 0;
}

.non-padding-left{
  padding-left: 0;
}


// Display types
.display-none{
  display: none!important;
}

// Mix-in -> Soft slide-down placeholder effect
.placeholder-effect(@lh){
  &::-webkit-input-placeholder{
    line-height: @lh;  transition: line-height 0.5s ease;
  }
  &::-moz-placeholder{
    line-height: @lh;  transition: line-height 0.5s ease;
  }
  &:-ms-input-placeholder{
    line-height: @lh;  transition: line-height 0.5s ease;
  }
  &::placeholder{
    line-height: @lh;  transition: line-height 0.5s ease;
  }
  &:focus::-webkit-input-placeholder{
    line-height: 150px;  transition: line-height 0.5s ease;
  }
  &:focus::-moz-placeholder{
    line-height: 150px;  transition: line-height 0.5s ease;
  }
  &:focus:-ms-input-placeholder{
    line-height: 150px;  transition: line-height 0.5s ease;
  }
  &:focus::placeholder{
    line-height: 150px;  transition: line-height 0.5s ease;
  }
}

// Mix-in -> add right down arrow

.arrow-down{
  &:after{
    display: inline-block;
    width: 10px;
    height: 6px;
    margin-left: 5px;
    content: '';
    vertical-align: middle;
    background: url(../img/arrow-down.png) no-repeat;
  }
}