
//  modal

.steps-modal__input-small {
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
    width: 100%;
    display: block;
    padding: 9px 14px;
    .gotham;
    font-size: 14px;
    color: @black-color;
    resize: none;
    outline: none;
    text-overflow: ellipsis;
    transition: height 0.2s;
    max-height: 250px;

    // Soft slide-down placeholder
    .placeholder-effect(20px);
  }

  .steps-modal__btn {
    .link-medium;
    border-radius: 30px;
    text-decoration: none;
    position: relative;
    transition: 0.5s ease background;
    font-size: 15px;
    margin: 15px 2px 10px 5px;
    display: inline-block;
    padding: 7px 40px;
  }


.steps-modal {
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.6);

  .widgets-block {
    position: fixed;
    text-align: center;
    z-index: 500;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 680px;
    height: 465px;
    display: table;
    margin: auto;
    border-radius: 6px;
    background-color: #fff;
    padding: 38px 20px 10px 20px;
  }

  &__close {
    position: absolute;
    top: 10px;
    right: 8px;
    display: block;
    width: 10px;
    height: 10px;
    cursor: pointer;
    background: url(../img/icon-modal-close.png) no-repeat;
  }

  &__wrapper {
    height: 325px;
  }

  &__title {
    .gotham-m;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -0.019em;
  }

  &__subtitle {
    .gotham;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -0.019em;
    margin-bottom: 4px;
  }

  &__img--profile {
    width: 86px;
    height: 86px;
    background: url(../img/icon-person-blue.png) no-repeat;
    margin: 20px auto;
  }


  .user-data {
    margin-top: 20px;
    margin-bottom: 9px;

    &__sex {
      .link-medium;
      font-size: 15px;
      color: @blue-color;
      display: inline-block;
      padding: 9px 18px 8px 36px;
      line-height: 16.5px;
      border-radius: 30px;
      text-decoration: none;
      position: relative;
      background-repeat: no-repeat;
      background-position: 20% 42%;

      &-female {
        background-image: url("../img/icon-woman.png");
      }

      &-female.user-data__sex--active {
          background-image: url("../img/icon-woman-hover.png");
          background-color: @blue-color;
          color: @white-color;
            &:hover {
             color: @white-color;
        }
      }
      

      &-male {
        background-image: url("../img/icon-man.png");
      }

      &-male.user-data__sex--active {
          background-image: url("../img/icon-man-hover.png");
          background-color: @blue-color;
          color: @white-color;
            &:hover {
             color: @white-color;
        }
      }
     
    }

    &__calendar {
      font-size: 15px;
      color: @blue-color;
      display: inline-block;
      padding: 9px 30px 8px 36px;
      line-height: 16.5px;
      border-radius: 30px;
      text-decoration: none;
      position: relative;
      left: -10px;
      margin-bottom: 4px;

      &:before, &:after {
        content: "";
        width: 27px;
        height: 28px;
        display: inline-block;
        position: absolute;
        
        transform: translateY(-50%);
        background-repeat: no-repeat;
        background-position: 0 0;
      }
      &:before { 
        background-image: url("../img/icon-calendar.png"); 
        left: 8px;
        top: 50%;
      }
      &:after { 
        background-image: url("../img/icon-arrow-down-blue.png"); 
        top: 83%;
        right: -5px;
      }
    }

    &__height {
      position: relative;
      width: 93px;
      margin: 0 auto;

      &:before {
        content: "";
        width: 27px;
        height: 28px;
        display: inline-block;
        position: absolute;
        transform: translateY(-50%);
        background-repeat: no-repeat;
        background-position: 0 0;
        background-image: url("../img/icon-height-grey.png"); 
        left: -28px;
        top: 50%;
        
      }

      input {
        .steps-modal__input-small();
        width: 100%;
        text-align: center;
      }

    }

    &__weight {
      position: relative;
      width: 93px;
      margin: 0 auto;
      margin-bottom: 13px;

      &:before {
        content: "";
        width: 27px;
        height: 28px;
        display: inline-block;
        position: absolute;
        transform: translateY(-50%);
        background-repeat: no-repeat;
        background-position: 0 0;
        background-image: url("../img/icon-weight-grey.png"); 
        left: -30px;
        top: 59%;
        
      }

      input {
        .steps-modal__input-small();
        width: 100%;
        text-align: center;
      }

    }
    
  }
 

  &__input--error {
    border: 1px solid @red-color;
  }


  &__btn--next {
    .steps-modal__btn();
    background: @white-color;
    color: @blue-color;
    border:1px solid @blue-color;

    &:hover, &:focus {
      background: @blue-color;
      color: @white-color!important;
      text-decoration: none;
      border:1px solid @white-color;
    }

  }

  &__img-success {
    background-image: url(../img/icon-success.png);
    width: 80px;
    height: 80px;
    margin: 0 auto;
    margin-bottom: 30px;
  }

  &__success {
    padding: 80px 0;
  }

}


// step second


.steps-modal {

  &__img--present {
    width: 125px;
    height: 130px;
    background: url(../img/icon-present-blue.png) no-repeat;
    margin: 0px auto 32px;
  }

}

.steps-modal__step--second {
  .steps-modal__subtitle {
    margin-bottom: 15px;
  }
}

.steps-pagination {
  &__item {
    display: inline-block;
    width: 11px;
    height: 11px;
    background: url(../img/icon-pagination-not-active.png) no-repeat;
  }
  &__item--active {
    background: url(../img/icon-pagination-active.png) no-repeat;
  }
}


.steps-modal {

  // step 3 img 

  &__img--list {
    width: 89px;
    height: 111px;
    background: url(../img/icon-list-blue.png) no-repeat;
    margin: 0px auto 50px;
  }

  // step 4 img

  &__img--add {
    width: 98px;
    height: 98px;
    background: url(../img/icon-plus-big.png) no-repeat;
    margin: 0px auto 50px;
  }

  // step 5 imag

  &__img--person-private {
    width: 109px;
    height: 109px;
    background: url(../img/icon-person-private-blue.png) no-repeat;
    margin: 0px auto 35px;
  }

  // step 6 img 

  &__img--success {
    width: 80px;
    height: 80px;
    background: url(../img/icon-success.png) no-repeat;
    margin: 0px auto 35px;
  }

}

// .steps-modal__step--third {
//   .steps-pagination {
//     margin-top: 25px;
//   }
// }

.steps-modal__step--second .steps-modal__title {
  padding-top: 4px;
}

.steps-modal__step--fourth, .steps-modal__step--fifth {
  .steps-modal__subtitle {
    margin-bottom: 15px;
  }
}

.steps-modal__step--sixth {
  .steps-modal__subtitle {
    margin-bottom: 45px;
  }
}








