// BLOCK -> Medcard dropdown filter
.medcard-filter{
  background-color: @white-color;
  border-radius: 13px;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
  padding: 20px 12px 15px 12px;
  margin-top: 8px;

  // Element -> Medcard dropdown filter search input
  &__input{
    .gotham;
    .placeholder-effect(20px);
    font-size: 15px;
    height: 30px;
    width: 100%;
    display: block;
    border: 1px solid @grey-color-2;
    border-radius: 12px;
    padding-left: 30px;
    background-image: url("../img/icon-search.png");
    background-repeat: no-repeat;
    background-position: 10px 50%;
    outline: none;
    margin-bottom: 15px;
  }

  // Element -> Medcard dropdown filter link
  &__link{
    .gotham-m;
    font-size: 15px;
    margin-right: 10px;
    line-height: 30px;

    &:hover{
      color: lighten(@blue-color, 8);
      text-decoration: none;
    }

    &:after{
      content: "";
      width: 10px;
      height: 6px;
      margin-left: 5px;
      display: inline-block;
      vertical-align: middle;
      background: url(../img/arrow-down.png) no-repeat;
    }
  }

  // Element -> Medcard dropdown filter tag
  &__tag{
    .gotham;
    position: relative;
    font-size: 15px;
    height: 30px;
    display: inline-block;
    padding-left: 15px;
    padding-right: 32px;
    color: @black-color;
    line-height: 30px;
    background-color: @grey-color-3;
    border-radius: 12px;
    margin: 5px;

    // Modificator -> Medcard dropdown filter tag for clear filters/tags
    &--clear{
      .gotham-m;
      background-color: transparent;
      color: @grey-color-2;
      cursor: pointer;
      margin-top: 10px;
      margin-bottom: 15px;
      margin-right: 20px;
      padding-right: 0;

      &:hover{
        color: lighten(@grey-color-2, 8);
      }
      &:active{
        color: lighten(@grey-color-2, 8);
      }
      &:focus{
        color: lighten(@grey-color-2, 8);
      }
    }
  }

  // Element -> close button for tag
  &__tag-close{
    width: 12px;
    height: 12px;
    display: block;
    cursor: pointer;
    position: absolute;
    top: 9px;
    right: 10px;
    background: url(../img/icon-close.png) no-repeat;
    &:hover{
      opacity: 0.7;
    }

    &--clear{
      left: -5px;
    }
  }

  // Element -> Medcard dropdown filter date link
  &__date-link{
    .gotham-m;
    font-size: 14px;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 15px;
    display: inline-block;
    line-height: 30px;

    &:hover{
      color: lighten(@blue-color, 8);
      text-decoration: none;
    }

    &:before{
      content: "";
      width: 13px;
      height: 13px;
      margin-right: 8px;
      display: inline-block;
      background: url(../img/icon-date--blue.png) no-repeat;
    }
  }

  // Element -> Medcard dropdown filter find button
  &__find{
    .gotham-m;
    outline: none;
    color: @blue-color;
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 14px;
    border-radius: 15px;
    border: 1px solid @blue-color;
    height: 30px;
    padding-right: 28px;
    padding-left: 28px;
    padding-top: 4px;
    display: inline-block;
    background-color: @white-color;
    &:hover{
      color: #fff;
      background: @blue-color;
    }
    &:active{
      box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
      outline: none;
    }
  }
}


// BLOCK -> Select specialisation Pop-Up
.medcard-spec{
  width: 870px;
  height: 435px;
  background-color: @white-color;
  border-radius: 17px;
  padding: 22px 15px 15px 40px;

  position: absolute;
  z-index: 500;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;

  // Element -> Pop-Up background
  &__wrapper{
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.6);
  }

  // Element -> inner wrapper for scroll
  &__inner-wrapper{
    padding-right: 30px;
    overflow-y: scroll;
    height: 290px;
    border-bottom: 1px solid @grey-color-3;
    position: relative;

    &:after{
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      height: 140px;
      width: 100%;
//      background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, @white-color 100%);
//      background-color: red;
    }
    
  }

  // Element -> Pop-Up title
  &__title{
    .gotham-m;
    font-size: 17px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 40px;
    z-index: -1;
  }

  // Element -> Section of specialisations with one thirst letter
  &__letter-section{
    position:relative;
    z-index: 550;
  }

  // Element -> Main letter in section, thirst letter on specs names
  &__letter{
    .gotham-m;
    font-size: 18px;
    margin: 0 0 10px 0;
  }

  // Element -> Specialisations items
  &__item{
    .gotham;
    display: inline-block;
    color: @grey-color-2;
    cursor: pointer;
    font-size: 15px;
    padding: 7px 18px 6px 20px;
    border: 1px solid @grey-color-3;
    border-radius: 20px;
    margin-top: 3px;
    margin-bottom: 3px;
    word-break: break-all;
    max-width: 180px;

    &:hover{
      background-color: lighten(@grey-color-3, 2);
      color: @black-color;
    }
    &:active{
      background-color: @grey-color-3;
      color: @black-color;
    }
    &:focus{
      background-color: @grey-color-3;
      color: @black-color;
    }
    &--checked{
      background-color: @grey-color-3;
      color: @black-color;
    }
  }

  // Element -> Button in the specs pop-up
  &__btn{
    .gotham-m;
    outline: none;
    color: @blue-color;
    margin-top: 20px;
    margin-bottom: 8px;
    font-size: 14px;
    border-radius: 15px;
    border: 1px solid @blue-color;
    height: 30px;
    padding-right: 28px;
    padding-left: 28px;
    padding-top: 4px;
    display: inline-block;
    background-color: @white-color;
    &:hover{
      color: #fff;
      background: @blue-color;
    }
    &:active{
      box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
      outline: none;
    }
  }

  // Element -> Close cross btn in specs pop-up
  &__close{
    position: absolute;
    top: 25px;
    right: 15px;
    display: block;
    width: 10px;
    height: 10px;
    cursor: pointer;
    background: url(../img/icon-modal-close.png) no-repeat;
    &:hover{
      opacity: 0.7;
    }
  }
}

// BLOCK -> Find/add doctor popup
.medcard-doctor{
  width: 490px;
  height: 625px;
  background-color: @white-color;
  border-radius: 6px;
  padding: 20px 0 15px 0;

  position: absolute;
  z-index: 500;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;

  &__wrapper{
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.6);
  }

  &__close{
    position: absolute;
    top: 10px;
    right: 8px;
    display: block;
    width: 10px;
    height: 10px;
    cursor: pointer;
    background: url(../img/icon-modal-close.png) no-repeat;
    &:hover{
      opacity: 0.7;
    }
  }

  &__head{
    border-bottom: 1px solid @grey-color-3;
  }

  &__title{
    .gotham-m;
    font-size: 17px;
    text-align: center;
    margin: 0;
    margin-bottom: 12px;

  }

  &__icon-line{
    text-align: center;
    margin-bottom: 15px;
    height: 31px;
    position: relative;
  }

  &__link{
    width: 26px;
    height: 26px;
    line-height: 31px;
    margin: 0 8px;
    display: inline-block;
    color: transparent;
    margin-top: 2px;;
    background-size: 26px 26px!important;

    &--doc{
      background: url("../img/icon-doc.png") no-repeat;
    }

    &--doc-liked{
      background: url("../img/icon-doc--liked.png") no-repeat;
    }

    &--doc-fave{
      background: url("../img/icon-doc--fave.png") no-repeat;
    }

    &:hover{
      &.medcard-doctor__link--doc{
        background: url("../img/icon-doc.png") no-repeat;
      }

      &.medcard-doctor__link--doc-liked{
        background: url("../img/icon-docs-my--blue.png") no-repeat;
      }

      &.medcard-doctor__link--doc-fave{
        background: url("../img/icon-clinics-fave--blue.png") no-repeat;
      }
    }

    &--active{
      &.medcard-doctor__link--doc{
        background: url("../img/icon-doc.png") no-repeat;
      }

      &.medcard-doctor__link--doc-liked{
        background: url("../img/icon-docs-my--blue.png") no-repeat;
      }

      &.medcard-doctor__link--doc-fave{
        background: url("../img/icon-clinics-fave--blue.png") no-repeat;
      }
    }
  }

  &__icon-plus {
    position: absolute;
    right: 7px;
    line-height: 31px;
    width: 31px;
    height: 31px;
    display: inline-block;
    background: url('../img/icon-btn-plus.png') no-repeat;

    &:hover {
      opacity: 0.6;
    }
  }

  &__search{
    margin-bottom: 15px;
    margin-right: 7px;
    margin-left: 7px;
  }

  &__search-input{
    .gotham;
    .placeholder-effect(20px);
    font-size: 14px;
    height: 30px;
    width: 100%;
    display: block;
    border: 1px solid @grey-color-2;
    border-radius: 12px;
    padding-left: 10px;
    outline: none;
  }

  &__body{
    height: 470px;
    overflow-y: scroll;
  }

  &__doc{
    padding: 15px 12px 5px 12px;
    border-bottom: 1px solid @grey-color-3;
    transition: 0.2s ease all;
    
    &:hover{
      background-color: #e8f6fa;
    }
  }

  &__avatar{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    text-align: center;
    display: block;
    position: relative;

    &-ondocked{
      display: inline-block;
      position: absolute;
      bottom: 0;
      width: 17px;
      height: 17px;
      padding: 0;
      border: none;
      border-radius: 50%;
      background: url("../img/icon-doc--ondocked.png") no-repeat;
    }
  }

  &__doc-name{
    .link-medium;
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 7px;
  }

  &__doc-specs{
    .gotham;
    font-size: 13px;
    color: @grey-color;
    margin-top: 0;
    margin-bottom: 5px;
  }

  &__info{
    .gotham;
    font-size: 11px;
    color: @grey-color-2;
    display: block;
    margin-bottom: 10px;
    word-break: break-all;
    
    &--rank{
      &:before{
        content: "";
        background: url("../img/icon-doc-rank.png");
        width: 10px;
        height: 10px;
        margin-right: 5px;
        display: inline-block;
      }
    }
  
    &--clinic{
      &:before{
        content: "";
        background: url("../img/icon-doc-clinic.png");
        width: 10px;
        height: 10px;
        margin-right: 5px;
        display: inline-block;
      }
    }
  
    &--exp{
      &:before{
        content: "";
        background: url("../img/icon-doc-exp.png");
        width: 10px;
        height: 10px;
        margin-right: 5px;
        display: inline-block;
      }
    }
  
    &--subway{
      &:before{
        content: "";
        background: url("../img/icon-doc-subway.png");
        width: 10px;
        height: 10px;
        margin-right: 5px;
        display: inline-block;
      }
    }
  }

  &__notfind-img{
    width: 110px;
    height: 125px;
    display: inline-block;
    text-align: center;
    margin-top: 35px;
    margin-bottom: 20px;
    background: url("../img/doc-add.png") no-repeat;
    background-size: 110px 125px;
  }

  &__notfind-text{
    .gotham;
    font-size: 14px;
    text-align: center;
    color: @grey-color;
    margin-bottom: 55px;
  }

  &__notfind-btn{
    .gotham-m;
    display: inline-block;
    width: 193px;
    height: 35px;
    font-size: 17px;
    line-height: 35px;
    text-align: center;
    border: 1px solid @blue-color;
    border-radius: 15px;
    transition: 0.2s ease all;

    &:before{
      display: inline-block;
      width: 15px;
      height: 15px;
      margin-right: 9px;
      content: '';
      background: url(../img/icon-cross.png) no-repeat;
    }

    &:hover{
      color: lighten(@blue-color, 8);
    }
  }

  &__add-body{

  }

  &__add-text{
    .gotham;
    font-size: 14px;
    margin-right: 8px;
    margin-left: 8px;
    margin-top: 28px;
    letter-spacing: -0.2px;
  }

  &__add-form{
//    margin-right: 8px;
//    margin-left: 8px;
    padding-left: 8px;
    padding-right: 8px;
  }

  &__add-input{
    .gotham;
    .placeholder-effect(30px);
    font-size: 14px;
    display: block;
    width: 100%;
    outline: none;
    margin-bottom: 10px;
    border: 1px solid @grey-color-2;
    padding-left: 10px;
    border-radius: 12px;
    height: 30px;
    line-height: 30px;
  }

  &__up-lined{
    margin-top: 30px;
    position: relative;
    &:before{
      content: "";
      position: absolute;
      height: 1px;
      border-bottom: 1px solid @grey-color-2;
      top: -15px;
      width: 490px;
      margin-left: -16px;
    }
  }

  &__down-lined{
    margin-bottom: 15px;
    position: relative;
    &:after{
      content: "";
      position: absolute;
      height: 1px;
      border-bottom: 1px solid @grey-color-2;
      bottom: -15px;
      width: 490px;
      margin-left: -16px;
//      margin-right: 8px;
    }
  }

  &__add-buttons{

  }

  &__add-btn-no{
    .gotham;
    font-size: 17px;
    display: inline-block;
    height: 35px;
    line-height: 33px;
    padding-right: 24px;
    padding-left: 24px;
    margin-top: 15px;
    margin-bottom: 20px;
    margin-right: 10px;
    color: @blue-color;
    border: 1px solid @blue-color;
    border-radius: 15px;
    outline: 0;
    background-color: @white-color;

    &:hover{
      color: @white-color;
      background-color: @blue-color;
    }
  }

  &__add-btn-save{
    .gotham-m;
    font-size: 17px;
    display: inline-block;
    height: 35px;
    line-height: 33px;
    padding-right: 24px;
    padding-left: 24px;
    padding-bottom: 0;
    padding-top: 0;
    margin-top: 15px;
    margin-bottom: 20px;
    margin-left: 10px;
    color: @blue-color;
    border: 1px solid @blue-color;
    border-radius: 15px;
    outline: 0;
    background-color: @white-color;

    &:hover{
      color: @white-color;
      background-color: @blue-color;
    }
  }
}

// Custom lightbox
.ekko-lightbox .modal-title{
    .gotham;
    font-size: 14px!important;
}

.ekko-lightbox .modal-header{
  border-bottom: none;
  padding-bottom: 0;
  position: relative;
}

.ekko-lightbox .modal-header .close{
  position: absolute;
  top: 10px;
  right: 8px;
}

.ekko-lightbox .modal-body{
  padding-top: 10px;
}

.ekko-lightbox > .modal-dialog{
  text-align: center;
  height: 60% !important;
  width: 50%!important;
  min-width: 200px!important;

  a{
    color: @white-color;
  }

}

.ekko-lightbox img{
  display: inline-block;
}


.lightbox-arrow{
  position: relative;
  display: inline-block;
  opacity: 0.3!important;
  padding-right: 15px;
  float: right;

  &:hover{
    opacity: 1!important;
  }

  &:before{
    display: inline-block;
    width: 20px;
    height: 45px;
    content: '';
    text-align: right;
    float: right;
    right: 0;
    background: url("../img/lightbox-arrow.png");
  }


  &--left{
    padding-left: 15px;
    float: left;
    &:before{
      float: left;
      left: 0;
      text-align: left;
      transform:         rotate(180deg);
    }
  }

}

// BLOCK -> Doctor info pop-up
.medcard-docinfo{
  width: 300px;
  position: absolute;
  z-index: 100;
  background-color: @white-color;
  border-radius: 8px;
  box-shadow: 0 0 13px 2px rgba(0, 0, 0, .2);
  padding: 25px 0 0 0;
  left: 195px;
  top: -100px;

  &--drugs{
    left: 110px;
    top: -550px;
    &:before {
      content: '';
      position: absolute;
      left: -20px;
      top: 550px!important;
      border: 10px solid transparent; /* Прозрачные границы */
      border-right: 10px solid @white-color; /* Добавляем треугольник */
    }
  }

  &:before {
    content: '';
    position: absolute;
    left: -20px;
    top: 100px;
    border: 10px solid transparent; /* Прозрачные границы */
    border-right: 10px solid @white-color; /* Добавляем треугольник */
  }

  &__star{
    position: absolute;
    top: 12px;
    right: 12px;
    width: 20px;
    height: 20px;
    background: url("../img/icon-star.png") no-repeat;
    cursor: pointer;
    &:hover{  opacity: 0.6;  }
  }

  &__doc-avatar{
    text-align: center;
  }

  &__doc-avatar-img{
    width: 113px;
    height: 113px;
    border-radius: 50%;
    display: inline-block;
    padding: 2px;
    border: 1px solid @grey-color-2;
  }

  &__doc-name{
    .gotham-m;
    font-size: 14px;
    color: @black-color;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    margin-right: 15px;
    margin-left: 20px;
  }

  &__doc-specs{
    .gotham;
    font-size: 13px;
    text-align: center;
    color: @black-color;
    margin: 0;
    margin-right: 15px;
    margin-left: 20px;
  }

  &__block{
    padding-bottom: 15px;
  }

  &__title-line{
    position: relative;
    text-align: center;
    padding-bottom: 15px;

    &:before{
      position: absolute;
      z-index: 5;
      top: -15px;
      right: 0;
      bottom: 0;
      left: 0;
      display: block;
      height: 1px;
      margin: auto;
      content: '';
      border-bottom: 1px solid @grey-color-2;
    }
  }

  &__title{
    .gotham;
    font-size: 14px;
    color: @grey-color-2;
    z-index: 110;
    padding: 0 5px;
    text-align: center;
    display: inline-block;
    position: relative;
    background-color: @white-color;
  }

  &__exp-rank{
    .gotham;
    font-size: 13px;
    color: @black-color;
    margin: 0;
    margin-right: 15px;
    margin-left: 20px;

    &:before{
      display: inline-block;
      width: 10px;
      height: 10px;
      margin-right: 5px;
      content: '';
      background: url(../img/icon-doc-rank.png);
    }
  }

  &__exp-years{
    .gotham;
    font-size: 13px;
    color: @black-color;
    margin: 5px 0 0 0;
    margin-right: 15px;
    margin-left: 20px;

    &:before{
      display: inline-block;
      width: 10px;
      height: 10px;
      margin-right: 5px;
      content: '';
      background: url(../img/icon-doc-exp.png);
    }
  }

  &__phone{
    .gotham-m;
    font-size: 14px;
    color: @blue-color;
    display: block;
    text-align: center;
    margin-right: 15px;
    margin-left: 20px;
  }

  &__location{
    overflow: hidden;
    position: relative;
    padding-top: 15px;

    &:nth-child(2){  padding-top: 0!important;  }
    &:nth-child(even){
      padding-bottom: 15px;
      border-bottom: 1px solid @grey-color-2;
    }
    &:nth-child(odd){
      padding-bottom: 15px;
      border-bottom: 1px solid @grey-color-2;
    }
    &:last-child{
      padding-bottom: 0;
      border-bottom: none;
    }
    &:nth-child(2) .medcard-docinfo__clinic-arrow{
      top: calc(50% - 15px);
    }
  }

  &__clinic-arrow{
    position: absolute;
    display: inline-block;
    cursor: pointer;
    width: 10px;
    height: 10px;
    top: 50%;
    bottom: 0;
    right: 15px;
    background: url(../img/list-arrow.png) no-repeat;
    &:hover{  opacity: 0.6  }
  }

  &__clinic-logo{
    height: 47px;
    width: 47px;
    border-radius: 50%;
    padding: 8px;
    border: 1px solid @grey-color-2 ;
    margin-left: 20px;
  }

  &__clinic-name{
    .gotham-m;
    font-size: 13px;
    color: @black-color;
    margin: 10px 20px 5px 15px;
    word-break: break-all;
  }

  &__clinic-subway{
    .gotham;
    font-size: 13px;
    color: @black-color;
    margin: 0 20px 0 15px;
    word-break: break-all;

    &:before{
      display: inline-block;
      width: 10px;
      height: 10px;
      margin-right: 5px;
      content: '';
      background: url(../img/icon-doc-subway.png);
    }
  }

  &__about{
    .gotham;
    font-size: 12px;
    line-height: 14px;
    margin-right: 15px;
    margin-left: 20px;
  }

  &__support-status{
    .gotham;
    font-size: 13px;
    color: @grey-color-2;
    margin-right: 15px;
    margin-left: 20px;
    margin-bottom: 0;

    &:before{
      display: inline-block;
      vertical-align: middle;
      width: 17px;
      height: 17px;
      margin-right: 10px;
      content: '';
      background: url(../img/icon-doc--ondocked.png);
    }
  }

  // Element -> allow view profile checkbox
  &__allow-check {
    .checkbox-blue;
  }
}


/* BLOCK -> Find/Add Clinic pop-up */
.medcard-clinic{
  width: 490px;
  height: 625px;
  background-color: @white-color;
  border-radius: 6px;
  padding: 20px 0 15px 0;

  position: absolute;
  z-index: 500;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;

  &__wrapper{
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.6);
  }

  &__close{
    position: absolute;
    top: 10px;
    right: 8px;
    display: block;
    width: 10px;
    height: 10px;
    cursor: pointer;
    background: url(../img/icon-modal-close.png) no-repeat;
    &:hover{
      opacity: 0.7;
    }
  }

  &__head{
    border-bottom: 1px solid @grey-color-3;
  }

  &__title{
    .gotham-m;
    font-size: 17px;
    text-align: center;
    margin: 0;
    margin-bottom: 12px;

  }

  &__icon-line{
    text-align: center;
    margin-bottom: 15px;
    height: 31px;
    position: relative;
  }

  &__link{
    width: 26px;
    height: 26px;
    line-height: 31px;
    margin: 0 8px;
    display: inline-block;
    color: transparent;
    margin-top: 2px;;
    background-size: 26px 26px!important;

    &--clinic{
      background: url("../img/icon-clinic--blue.png") no-repeat;
    }

    &--clinic-liked{
      background: url("../img/icon-clinic--liked.png") no-repeat;
    }

    &--clinic-fave{
      background: url("../img/icon-clinic--fave.png") no-repeat;
    }

    &:hover{
      &.medcard-clinic__link--clinic{
        background: url("../img/icon-clinic--blue.png") no-repeat;
      }

      &.medcard-clinic__link--clinic-liked{
        background: url("../img/icon-clinics-my--blue.png") no-repeat;
      }

      &.medcard-clinic__link--clinic-fave{
        background: url("../img/icon-clinics-fave--blue.png") no-repeat;
      }
    }

    &--active{
      &.medcard-clinic__link--clinic{
        background: url("../img/icon-clinic--blue.png") no-repeat;
      }

      &.medcard-clinic__link--clinic-liked{
        background: url("../img/icon-clinics-my--blue.png") no-repeat;
      }

      &.medcard-clinic__link--clinic-fave{
        background: url("../img/icon-clinics-fave--blue.png") no-repeat;
      }
    }
  }

  &__icon-plus {
    position: absolute;
    right: 7px;
    line-height: 31px;
    width: 31px;
    height: 31px;
    display: inline-block;
    background: url('../img/icon-btn-plus.png') no-repeat;

    &:hover {
      opacity: 0.6;
    }
  }

  &__search{
    margin-bottom: 15px;
    margin-right: 7px;
    margin-left: 7px;
  }

  &__search-input{
    .gotham;
    .placeholder-effect(20px);
    font-size: 14px;
    height: 30px;
    width: 100%;
    display: inline-block;
    border: 1px solid @grey-color-2;
    border-radius: 12px;
    padding-left: 10px;
    outline: none;
  }

  &__body{
    height: 470px;
    overflow-y: scroll;
  }

  &__item{
    padding: 15px 12px 5px 12px;
    border-bottom: 1px solid @grey-color-3;
    transition: 0.2s ease all;

    &:hover{
      background-color: #e8f6fa;
    }
  }

  &__avatar{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    text-align: center;
    display: block;
    position: relative;

    &-ondocked{
      display: inline-block;
      position: absolute;
      bottom: 0;
      width: 17px;
      height: 17px;
      padding: 0;
      border: none;
      border-radius: 50%;
      background: url("../img/icon-doc--ondocked.png") no-repeat;
    }
  }

  &__clinic-name{
    .link-medium;
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 7px;
  }

  &__clinic-specs{
    .gotham;
    font-size: 13px;
    color: @grey-color;
    margin-top: 0;
    margin-bottom: 5px;
  }

  &__info{
    .gotham;
    font-size: 11px;
    color: @grey-color-2;
    display: block;
    margin-bottom: 10px;
    word-break: break-all;
    padding-left: 15px;
    position: relative;

    &:before{
      content: "";
      width: 12px;
      height: 11px;
      margin-right: 5px;
      display: inline-block;
      position: absolute;
      left: 0;
    }

    &--mappin{
      &:before{
        background: url("../img/icon-map-pin.png") no-repeat;
      }
    }

    &--worktime{
      &:before{
        background: url("../img/icon-worktime.png") no-repeat;
      }
    }

    &--exp{
      &:before{
        content: "";
        background: none;
        width: 12px;
        height: 12px;
        margin-right: 5px;
        display: inline-block;
      }
    }

    &--subway{
      &:before{
        background: url("../img/icon-doc-subway.png") no-repeat;
      }
    }
  }

  &__notfind-img{
    width: 118px;
    height: 118px;
    display: inline-block;
    text-align: center;
    margin-top: 35px;
    margin-bottom: 20px;
    background: url("../img/clinic-add.png") no-repeat;
    background-size: 118px 118px;
  }

  &__notfind-text{
    .gotham;
    font-size: 14px;
    text-align: center;
    color: @grey-color;
    margin-bottom: 55px;
  }

  &__notfind-btn{
    .gotham-m;
    display: inline-block;
    width: 210px;
    height: 35px;
    font-size: 17px;
    line-height: 35px;
    text-align: center;
    border: 1px solid @blue-color;
    border-radius: 15px;
    transition: 0.2s ease all;

    &:before{
      display: inline-block;
      width: 15px;
      height: 15px;
      margin-right: 9px;
      content: '';
      background: url(../img/icon-cross.png) no-repeat;
    }

    &:hover{
      color: lighten(@blue-color, 8);
    }
  }

  &__add-body{

  }

  &__add-text{
    .gotham;
    font-size: 14px;
    margin-right: 8px;
    margin-left: 8px;
    margin-top: 28px;
    letter-spacing: -0.2px;
  }

  &__add-form{
//    margin-right: 8px;
//    margin-left: 8px;
    padding-left: 8px;
    padding-right: 8px;
  }

  &__add-input{
    .gotham;
    .placeholder-effect(30px);
    font-size: 14px;
    display: block;
    width: 100%;
    outline: none;
    margin-bottom: 10px;
    border: 1px solid @grey-color-2;
    padding-left: 10px;
    border-radius: 12px;
    height: 30px;
    line-height: 30px;
  }

  &__up-lined{
    margin-top: 30px;
    position: relative;
    &:before{
      content: "";
      position: absolute;
      height: 1px;
      border-bottom: 1px solid @grey-color-2;
      top: -15px;
      width: 490px;
      margin-left: -16px;
    }
  }

  &__down-lined{
    margin-bottom: 15px;
    position: relative;
    &:after{
      content: "";
      position: absolute;
      height: 1px;
      border-bottom: 1px solid @grey-color-2;
      bottom: -15px;
      width: 490px;
      margin-left: -16px;
    }
  }

  &__add-buttons{

  }

  &__add-btn-no{
    .gotham;
    font-size: 17px;
    display: inline-block;
    height: 35px;
    line-height: 33px;
    padding-right: 24px;
    padding-left: 24px;
    margin-top: 15px;
    margin-bottom: 20px;
    margin-right: 10px;
    color: @blue-color;
    border: 1px solid @blue-color;
    border-radius: 15px;
    outline: 0;
    background-color: @white-color;

    &:hover{
      color: @white-color;
      background-color: @blue-color;
    }
  }

  &__add-btn-save{
    .gotham-m;
    font-size: 17px;
    display: inline-block;
    height: 35px;
    line-height: 33px;
    padding-right: 24px;
    padding-left: 24px;
    padding-bottom: 0;
    padding-top: 0;
    margin-top: 15px;
    margin-bottom: 20px;
    margin-left: 10px;
    color: @blue-color;
    border: 1px solid @blue-color;
    border-radius: 15px;
    outline: 0;
    background-color: @white-color;

    &:hover{
      color: @white-color;
      background-color: @blue-color;
    }
  }
}


/*
Widgets
*/

.medcard-widget{
  height: 435px;
  background: @white-color;
  border-radius: 10px;
  box-shadow: 0px 1px 1px 0px @grey-color-2;
  margin-bottom: 16px;
  position: relative;

  &--smaller{
    height: 355px;
  }

  &__header{
    .bottom-line-grey;
    text-align: center;
    padding: 14px 48px 11px;
    position: relative;
  }

  &__subheader{
    .text-center;
    .bottom-line-grey;
    padding: 0 20px 11px;
  }

  &__title{
    .gotham-m;
    font-size: 14px;
    vertical-align: middle;
    display: inline-block;
    word-break: break-all;
    text-align: center;

    &--consultations{
      &:before{
        content: '';
        display: inline-block;
        margin-right: 6px;
        width: 15px;
        height: 22px;
        vertical-align: middle;
        background: url(../img/icon-consultations.png) no-repeat;
      }
    }

    &--survey{
      &:before{
        content: '';
        display: inline-block;
        margin-right: 6px;
        width: 20px;
        height: 20px;
        vertical-align: middle;
        background: url(../img/icon-survey.png) no-repeat;
      }
    }

    &--drugs{
      &:before{
        content: '';
        display: inline-block;
        margin-right: 6px;
        width: 20px;
        height: 20px;
        vertical-align: middle;
        background: url(../img/icon-drugs.png) no-repeat;
      }
    }

    &--processing{
      word-break: normal;

      &:before{
        content: '';
        display: inline-block;
        margin-right: 6px;
        width: 20px;
        height: 20px;
        vertical-align: middle;
        background: url(../img/icon-processing.png) no-repeat;
      }
    }

    &--immun{
      &:before{
        content: '';
        display: inline-block;
        margin-right: 6px;
        width: 20px;
        height: 20px;
        vertical-align: middle;
        background: url(../img/icon-immun.png) no-repeat;
      }
    }

    &--notes{
      &:before{
        content: '';
        display: inline-block;
        margin-right: 6px;
        width: 20px;
        height: 20px;
        vertical-align: middle;
        background: url(../img/icon-notes.png) no-repeat;
      }
    }
  }

  &__body{
    height: 385px;
    overflow-y: scroll;
    @media (max-width:1025px) {
      height: 350px;
    }

    &--smaller{
      height: 300px;
      @media (max-width:1025px) {
        height: 265px;
      }
    }

    &--processing{
      height: 300px;
      @media (max-width:1025px) {
        height: 247px;
      }
    }

    &--drugs{
      height: 305px;
      @media (max-width:1025px) {
        height: 270px;
      }
    }

    &--cap{
      .text-center;
      padding: 120px 25px 20px 25px;
    }

    &--cap-smaller{
      .text-center;
      padding: 80px 25px 20px 25px;
    }
  }

  &__ticket{
    .gotham;
    font-size: 11px;
    line-height: 14px;
    letter-spacing: -0.2px;
    word-break: break-all;

    &--rejected{
      color: @red-color;
      &:before{
        content: "";
        width: 14px;
        height: 14px;
        padding-right: 18px;
        display: inline-block;
        vertical-align: middle;
        background: url(../img/icon-ticket-rejected.png) no-repeat;
      }
    }

    &--process{
      color: @orange-color;
      &:before{
        content: "";
        width: 14px;
        height: 14px;
        padding-right: 18px;
        display: inline-block;
        vertical-align: middle;
        background: url(../img/icon-ticket-process.png) no-repeat;
      }
    }
  }

  &__add-btn{
    position: absolute;
    display: inline-block;
    width: 31px;
    height: 31px;
    right: 7px;
    top: 8px;
    background: url("../img/icon-plus.png") no-repeat;
    &:hover{ opacity: 0.6; }
  }
  
  &__cap-img{
    width: 60px;
    height: 60px;
    display: inline-block;
    margin-bottom: 35px;

    &--consultation{
      width: 42px;
      background: url("../img/icon-medcard-consultation-cap.png") no-repeat;
    }
    &--survey{
      width: 56px;
      background: url("../img/icon-medcard-survey-cap.png") no-repeat;
    }
    &--immun{
      width: 56px;
      background: url("../img/icon-medcard-immun-cap.png") no-repeat;
    }
    &--notes{
      width: 56px;
      background: url("../img/icon-medcard-notes-cap.png") no-repeat;
    }
    &--process{
      width: 59px;
      background: url("../img/icon-medcard-process-cap.png") no-repeat;
    }
  }

  &__cap-text{
    .gotham-m;
    font-size: 14px;
    color: @grey-color-2;
    letter-spacing: -1px;
  }
}