// BLOCK -> mini widget on monitoring page
.monitoring-widget{
  height: 355px;
  background: @white-color;
  border-radius: 10px;
  box-shadow: 0px 1px 1px 0px @grey-color-2;
  margin-bottom: 16px;
  position: relative;
  padding-bottom: 25px;

  // Element -> widget header
  &__header{
    .bottom-line-grey;
    text-align: center;
    padding: 14px 50px 11px;
    position: relative;
  }

  // Element -> widget subheader
  &__subheader{
    margin: 20px 20px 20px 20px;
    overflow: hidden;
    @media (max-width:1025px) {
      margin: 20px 15px 20px 15px;
    }
  }

  // Element -> widget title
  &__title{
    .gotham-m;
    font-size: 14px;
    vertical-align: middle;
    display: inline-block;
    word-break: break-all;
    text-align: center;

    // Modificators -> icons for title
    &--pulse{
      &:before{
        content: '';
        display: inline-block;
        margin-right: 6px;
        width: 20px;
        height: 20px;
        vertical-align: middle;
        background: url(../img/icon-pulse--blue.png) no-repeat;
      }
    }

    &--pressure{
      &:before{
        content: '';
        display: inline-block;
        margin-right: 6px;
        width: 20px;
        height: 20px;
        vertical-align: middle;
        background: url(../img/icon-pressure--blue.png) no-repeat;
      }
    }

    &--weight{
      &:before{
        content: '';
        display: inline-block;
        margin-right: 6px;
        width: 20px;
        height: 20px;
        vertical-align: middle;
        background: url(../img/icon-weight--blue.png) no-repeat;
      }
    }

    &--sugar{
      &:before{
        content: '';
        display: inline-block;
        margin-right: 6px;
        width: 20px;
        height: 20px;
        vertical-align: middle;
        background: url(../img/icon-sugar--blue.png) no-repeat;
      }
    }

    &--temperature{
      &:before{
        content: '';
        display: inline-block;
        margin-right: 6px;
        width: 20px;
        height: 20px;
        vertical-align: middle;
        background: url(../img/icon-temperature--blue.png) no-repeat;
      }
    }

    &--cholesterol{
      &:before{
        content: '';
        display: inline-block;
        margin-right: 6px;
        width: 20px;
        height: 20px;
        vertical-align: middle;
        background: url(../img/icon-cholesterol--blue.png) no-repeat;
      }
    }

    &--height{
      &:before{
        content: '';
        display: inline-block;
        margin-right: 6px;
        width: 20px;
        height: 20px;
        vertical-align: middle;
        background: url(../img/icon-height--blue.png) no-repeat;
      }
    }
  }

  //
  &__buttons{
    position: absolute;
    overflow: hidden;
    width: 85%;
    bottom: 30px;
  }

  // Element -> Plus button
  &__add-btn{
    position: absolute;
    display: inline-block;
    width: 31px;
    height: 31px;
    right: 7px;
    top: 8px;
    background: url("../img/icon-plus.png") no-repeat;
    &:hover{ opacity: 0.6; }
  }

  // Element -> Select date period
  &__period{
    .arrow-down;
    .gotham-m;
    position: relative;
    font-size: 13px;
    text-align: left;

    @media (max-width:1025px) {
      font-size: 11px;
    }
  }

  // Element -> Select date period dropdown
  &__dropdown{
    position: absolute;
    z-index: 100;
    top: 95px;
    background-color: @white-color;
    border-radius: 10px;
    box-shadow: 0 0 13px 2px rgba(0, 0, 0, .2);
    padding: 15px 15px 20px 15px;

    &:before{
      content: '';
      position: absolute;
      left: 23px;
      top: -14px;
      border: 7px solid transparent; /* Прозрачные границы */
      border-bottom: 7px solid @white-color; /* Добавляем треугольник */
    }

    ul{
      list-style-type: none;
      padding: 0;
      margin: 0;
    }

    &-link{
      .gotham-m;
      font-size: 13px;

      &:hover{
        color: @black-color;
      }

      &--active{
        color: @black-color;
      }
    }
  }

  // Element -> date (period)
  &__date{
    .gotham-m;
    font-size: 13px;
    text-align: right;
    @media (max-width:1025px) {
      font-size: 11px;
    }
  }

  // Element -> widget body
  &__body{
    margin: 0 20px 0 20px;
    overflow: hidden;
  }

  &__chart{
    width: 260px;
    height: 225px;
    text-align: center;

    &--less{
      height: 175px;
    }
  }

  // Element -> widget add value state body
  &__value-body{
    padding: 45px 25px 25px 25px;
    overflow: hidden;
    @media (max-width:1025px) {
      padding: 25px 15px 25px 15px;
    }

    &--sugar{
      @media (max-width:1025px) {
        padding: 10px 15px 25px 15px;
      }
    }
  }

  // Element -> widget add value state title
  &__value-title{
    .gotham-m;
    font-size: 14px;
    color: @black-color;
    margin-bottom: 10px;
  }

  &__values{

  }

  &__values-inline{
    position: relative;
    display: inline-block;
    &:first-child{  margin-right: 10px; }
    &:last-child{  margin-left: 10px; }
  }

  &__values-slash{
    display: inline-block;
    font-size: 22px;
    position: relative;
    bottom: 30px;
    right: -10px;
    margin-right: 7px;
  }

  // Element -> comma to separate inputs
  &__values-comma{
    font-size: 22px;
    position: relative;
    margin-right: 7px;
  }

  // Element -> degree
  &__values-degree{
    position: relative;
    display: inline-block;
    width: 19px;
    height: 19px;
    background: url("../img/icon-degree.png");
  }

  // Element -> widget add value state input
  &__value-add{
    .gotham-m;
    font-size: 22px;
    outline: none;
    height: 48px;
    line-height: 49px;
    border: 1px solid @grey-color-2;
    border-radius: 3px;
    width: 60px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 10px;

    &--sugar{
      margin-top: 10px;
    }
    &--chol{
      margin-top: 10px;
    }

    &--error{
      border: 1px solid @red-color;
      color: @red-color;
      margin-top: 10px;
    }
  }

  &__value--error{
    .gotham-m;
    color: @red-color;
    font-size: 14px;
    margin-bottom: 0;
    margin-top: 10px;
  }

  // Element -> widget add value state input description
  &__value-description{
    font-size: 14px;
    margin-bottom: 40px;
  }

  // Element -> widget add value state close button
  &__close{
    display: block;
    width: 40px;
    height: 40px;
    background: url(../img/exit-okey-sprite.png) no-repeat;
    &:hover{ opacity: 0.6; }
  }

  // Element -> widget add value state save button
  &__save{
    display: block;
    width: 40px;
    height: 40px;
    background: url(../img/exit-okey-sprite.png) no-repeat;
    background-position: -88px 0;
    &:hover{ opacity: 0.6; }
  }

  /* Element -> sugar shedule */
  &__sugar-shedule{
    padding: 0 10px 2px;

    &--add-value{
      padding: 0;
      margin-top: 20px;
    }
  }

  /* Element -> sugar shedule for cap*/
  &__sugar-shedule-cap{
    padding: 0 10px 2px;

    &--add-value{
      padding: 0;
      margin-top: 20px;
    }
  }

  &__sugar-shedule-block{
    text-align: center;
    p{  margin: 0;
      font-size: 10px;
      cursor: pointer;
      padding: 7px 0;
      color: rgba(0,0,0,0.5);
    }
    &:hover p{ color: @blue-color;  margin: 0;}

    &:hover .monitoring-widget__sugar-shedule-icon--sun{ background: url("../img/icon-sugar--sun-blue.png");}
    &:hover .monitoring-widget__sugar-shedule-icon--eat{ background: url("../img/icon-sugar--eat-blue.png");}
    &:hover .monitoring-widget__sugar-shedule-icon--food{ background: url("../img/icon-sugar--food-blue.png");}
    &:hover .monitoring-widget__sugar-shedule-icon--moon{ background: url("../img/icon-sugar--moon-blue.png");}

  }

  &__sugar-shedule-block--active{
    p{ color: @blue-color; }

    .monitoring-widget__sugar-shedule-icon--sun{ background: url("../img/icon-sugar--sun-blue.png");}
    .monitoring-widget__sugar-shedule-icon--eat{ background: url("../img/icon-sugar--eat-blue.png");}
    .monitoring-widget__sugar-shedule-icon--food{ background: url("../img/icon-sugar--food-blue.png");}
    .monitoring-widget__sugar-shedule-icon--moon{ background: url("../img/icon-sugar--moon-blue.png");}
  }

  &__sugar-shedule-icon{
    display: inline-block;
    vertical-align: middle;
    transition: all 0.2s ease-out;

    &--sun{
      width: 26px;
      height: 18px;
      background: url("../img/icon-sugar--sun-grey.png");
    }

    &--eat{
      width: 19px;
      height: 18px;
      background: url("../img/icon-sugar--eat-grey.png");
    }

    &--food{
      width: 24px;
      height: 20px;
      background: url("../img/icon-sugar--food-grey.png");
    }

    &--moon{
      width: 18px;
      height: 19px;
      background: url("../img/icon-sugar--moon-grey.png");
    }
  }

  // Element -> cholesterol shedule
  &__chol-shedule{
    padding: 0px 10px 17px;
    text-align: center;

    .row [class*=col-]:first-child{ text-align: left; }
    .row [class*=col-]:last-child { text-align: right; }

    &-link{
      .gotham-m;
      display: inline-block;
      line-height: 35px;
      padding-right: 10px;
      padding-left: 10px;
      font-size: 15px;
      border-radius: 25px;

      &:hover{
        color: @white-color!important;
        background-color: @blue-color;
        cursor: pointer;
      }

      @media (max-width:1025px) {
        font-size: 13px;
      }
    }

    &--active{
      color: @white-color!important;
      background-color: @blue-color;
      cursor: default;
    }

    &--add-value {
      padding: 0;
      margin-top: 30px;
      margin-bottom: 30px;
    }
  }

  // Element -> cholesterol shedule for cap state
  &__chol-shedule-cap{
    text-align: center;
    @media (max-width:1025px) {
      padding: 0px 0 30px;
      a{font-size: 13px;}
    }

    .row [class*=col-]:first-child{ text-align: left; }
    .row [class*=col-]:last-child { text-align: right; }

    &--active{
      color: @white-color!important;
      background-color: @blue-color;
      cursor: default;
    }

    &--add-value {
      padding: 0;
      margin-top: 30px;
      margin-bottom: 20px;
    }

    &-link{
      .gotham-m;
      display: inline-block;
      line-height: 35px;
      padding-right: 10px;
      padding-left: 10px;
      font-size: 15px;
      border-radius: 25px;

      &:hover{
        color: @white-color!important;
        background-color: @blue-color;
        cursor: pointer;
      }

      @media (max-width:1025px) {
        font-size: 13px;
      }
    }
  }

}

// Custom tooltips
.tooltip-custom + .tooltip > .tooltip-inner{
  .gotham-m;
  font-size: 14px;
  background-color: rgba(0,0,0, .5);
  color: @white-color;
  border: none;
  border-radius: 10px;
  padding: 15px 20px 15px 20px;
  min-width: auto;
  max-width: 100%;
  width: auto;
}

.tooltip-custom + .tooltip.top > .tooltip-arrow{
  bottom:0;
  left:83%!important;
  margin-left:-5px;
  border-left:5px solid transparent;
  border-right:5px solid transparent;
  border-top:5px solid rgba(0,0,0, .5)
}
.tooltip-custom + .tooltip.left > .tooltip-arrow{
  top:50%;
  right:0;
  margin-top:-5px;
  border-top:5px solid transparent;
  border-bottom:5px solid transparent;
  border-left:5px solid rgba(0,0,0, .5);
}
.tooltip-custom + .tooltip.bottom > .tooltip-arrow{
  top:0;
  left:50%;
  margin-left:-5px;
  border-left:5px solid transparent;
  border-right:5px solid transparent;
  border-bottom:5px solid rgba(0,0,0, .5);
}
.tooltip-custom + .tooltip.right > .tooltip-arrow{
  top:50%;
  left:0;
  margin-top:-5px;
  border-top:5px solid transparent;
  border-bottom:5px solid transparent;
  border-right:5px solid rgba(0,0,0, .5);
}

// Custom cross icon in tooltip
.tooltip-custom + .tooltip.right > .tooltip-cross{
  position: absolute;
  top: 5px;
  right: 10px;
  background: url("../img/tooltip-cross.png");
  display: block;
  width: 9px;
  height: 9px;
  cursor: pointer;
}

.tooltip-custom + .tooltip.left > .tooltip-cross{
  position: absolute;
  top: 5px;
  right: 10px;
  background: url("../img/tooltip-cross.png");
  display: block;
  width: 9px;
  height: 9px;
  cursor: pointer;
}

.tooltip-custom + .tooltip.top > .tooltip-cross{
  position: absolute;
  top: 10px;
  right: 5px;
  background: url("../img/tooltip-cross.png");
  display: block;
  width: 9px;
  height: 9px;
  cursor: pointer;
}

.tooltip-custom + .tooltip.bottom > .tooltip-cross{
  position: absolute;
  top: 10px;
  right: 5px;
  background: url("../img/tooltip-cross.png");
  display: block;
  width: 9px;
  height: 9px;
  cursor: pointer;
}

/* Widgets caps */
.monitoring-cap{
  margin-top: 90px;

  @media (max-width:1025px) {
    margin-top: 60px;
  }

  &--no-data{
    margin-top: 28px;
  }

  &--extra-filter{
    margin-top: 10px;
  }

  &__text{
    .gotham-m;
    font-size: 14px;
    color: @grey-color-2;
    margin-top: 35px;

    &--upper{
      margin-top: 20px;
    }

    &--smaller{
      font-size: 12px;
    }
  }

  &__pulse{
    background: url("../img/icon-cap--pulse.png") no-repeat;
    width: 72px;
    height: 61px;
    display: inline-block;
  }

  &__pressure{
    background: url("../img/icon-cap--pressure.png") no-repeat;
    width: 73px;
    height: 61px;
    display: inline-block;
  }

  &__weight{
    background: url("../img/icon-cap--weight.png") no-repeat;
    width: 65px;
    height: 61px;
    display: inline-block;
  }

  &__sugar{
    background: url("../img/icon-cap--sugar.png") no-repeat;
    width: 50px;
    height: 61px;
    display: inline-block;
  }

  &__temperature{
    background: url("../img/icon-cap--temperature.png") no-repeat;
    width: 66px;
    height: 64px;
    display: inline-block;
  }

  &__cholesterol{
    background: url("../img/icon-cap--cholesterol.png") no-repeat;
    width: 44px;
    height: 61px;
    display: inline-block;
  }

  &__no-data{
    background: url("../img/icon-cap--period.png") no-repeat;
    width: 67px;
    height: 72px;
    display: inline-block;
  }
}