<!-- Clinics Header -->
<div class="row clinics__header">

    <div class="col-xs-14 text-left">
        <a class="clinics__head-link clinics__head-link--docs" href="#">Врачи</a>
        <a class="clinics__head-link clinics__head-link--clinics clinics__head-link--active" href="#">Клиники</a>
    </div>

    <div class="col-xs-6 text-center">
        <a class="clinics__head-link clinics__head-link--filter" href="#">Фильтр</a>
    </div>

    <div class="col-xs-16 text-right">
        <a class="clinics__search" href="#"></a>
        <form action="" class="display-none js__search-form">
            <input type="search" placeholder="Поиск" class="clinics__search-input"/>
        </form>
    </div>

</div>
<!-- / Clinics Header -->