<!-- Docs widget header -->
<div class="row">
    <div class="col-xs-36">

                <div class="clinic-docs__widget-header">

                    <a class="clinic-docs__link clinic-docs__link--addr arrow-down" href="#">линия Кадетская В.О., д.15</a>

                    <div class="clinic-docs__dropdown display-none">
                        <ul>
                            <li><a class="clinic-docs__dropdown-link" href="">линия Кадетская В.О., д.15</a></li>
                            <li><a class="clinic-docs__dropdown-link" href="">линия Кадетская В.О., д.15</a></li>
                            <li><a class="clinic-docs__dropdown-link" href="">линия Кадетская В.О., д.15</a></li>
                            <li><a class="clinic-docs__dropdown-link" href="">Москвоский пр. 22</a></li>
                            <li><a class="clinic-docs__dropdown-link" href="">Москвоский пр. 22</a></li>
                        </ul>
                    </div>

                    <a class="medcard-filter__link" href="">Специализации</a>

                    <!-- build:include select-specs-popup.html -->
                    This will be replaced by the content of select-specs-popup.html
                    <!-- /build -->

                    <span class="medcard-filter__tag">Акушер <span class="medcard-filter__tag-close"></span> </span>
                    <span class="medcard-filter__tag">Аллерголог <span class="medcard-filter__tag-close"></span></span>

                </div>
    </div>
</div>
<!-- / Docs widget header -->