<!-- Clinics Header -->
<div class="row clinics__header">

    <div class="col-xs-14 text-left">
        <a class="clinics__head-link clinics__head-link--docs" href="docs.html">Врачи</a>
        <a class="clinics__head-link clinics__head-link--clinics clinics__head-link--active" href="clinics.html">Клиники</a>
    </div>

    <div class="col-xs-7 text-center">
        <a class="clinics__head-link clinics__head-link--filter arrow-down" href="#">Фильтр</a>
    </div>

    <div class="col-xs-15 text-right non-padding-right">
        <a class="clinics__search" href="#"></a>
        <form action="" class="display-none js__search-form">
            <input type="search" placeholder="Поиск" class="clinics__search-input"/>
        </form>
    </div>

    <!-- build:include clinics__filter.html -->
    This will be replaced by the content of clinics__filter.html
    <!-- /build -->

</div>
<!-- / Clinics Header -->