<!-- Left tabs block -->
<div class="col-xs-11 widget__left-column">

    <!-- Tab -->
    <div class="clinics__tab clinics__tab--active">
        <div class="row">

            <div class="col-xs-8">
                <div class="clinics__tab-img clinics__tab-img--ondocked">
                    <img class="" src="img/clinic-logo.png" alt=""/>
                    <span class="clinics__tab-ondocked"></span>
                </div>
            </div>

            <div class="col-xs-28">
                <h3 class="clinics__tab-title">СМТ</h3>
                <span class="medcard-clinic__info medcard-clinic__info--mappin">Наб. канала Грибоедова, 60</span>
                <span class="medcard-clinic__info medcard-clinic__info--subway">Горьковская</span>
                <span class="medcard-clinic__info medcard-clinic__info--worktime">ПН-ВС 8:00-21:00</span>
            </div>
            
        </div>
    </div>
    <!-- / Tab -->

    <!-- Tab -->
    <div class="clinics__tab">
        <div class="row">

            <div class="col-xs-8">
                <div class="clinics__tab-img clinics__tab-img--ondocked">
                    <img class="" src="img/medici-logo.jpg" alt=""/>
                </div>
            </div>

            <div class="col-xs-28">
                <h3 class="clinics__tab-title">СМТ</h3>
                <span class="medcard-clinic__info medcard-clinic__info--mappin">Наб. канала Грибоедова, 60</span>
                <span class="medcard-clinic__info medcard-clinic__info--subway">Горьковская</span>
                <span class="medcard-clinic__info medcard-clinic__info--worktime">ПН-ВС 8:00-21:00</span>
            </div>

        </div>
    </div>
    <!-- / Tab -->

    <!-- Tab -->
    <div class="clinics__tab">
        <div class="row">

            <div class="col-xs-8">
                <div class="clinics__tab-img clinics__tab-img--ondocked">
                    <img class="" src="img/medici-logo.jpg" alt=""/>
                </div>
            </div>

            <div class="col-xs-28">
                <h3 class="clinics__tab-title">СМТ</h3>
                <span class="medcard-clinic__info medcard-clinic__info--mappin">Наб. канала Грибоедова, 60</span>
                <span class="medcard-clinic__info medcard-clinic__info--subway">Горьковская</span>
                <span class="medcard-clinic__info medcard-clinic__info--worktime">ПН-ВС 8:00-21:00</span>
            </div>

        </div>
    </div>
    <!-- / Tab -->

    <!-- Tab -->
    <div class="clinics__tab">
        <div class="row">

            <div class="col-xs-8">
                <div class="clinics__tab-img clinics__tab-img--ondocked">
                    <img class="" src="img/medici-logo.jpg" alt=""/>
                </div>
                <span class="clinics__tab-ondocked"></span>
            </div>

            <div class="col-xs-28">
                <h3 class="clinics__tab-title">СМТ</h3>
                <span class="medcard-clinic__info medcard-clinic__info--mappin">Наб. канала Грибоедова, 60</span>
                <span class="medcard-clinic__info medcard-clinic__info--subway">Горьковская</span>
                <span class="medcard-clinic__info medcard-clinic__info--worktime">ПН-ВС 8:00-21:00</span>
            </div>

        </div>
    </div>
    <!-- / Tab -->

    <!-- Tab -->
    <div class="clinics__tab">
        <div class="row">

            <div class="col-xs-8">
                <div class="clinics__tab-img clinics__tab-img--ondocked">
                    <img class="" src="img/medici-logo.jpg" alt=""/>
                </div>
                <span class="clinics__tab-ondocked"></span>
            </div>

            <div class="col-xs-28">
                <h3 class="clinics__tab-title">СМТ</h3>
                <span class="medcard-clinic__info medcard-clinic__info--mappin">Наб. канала Грибоедова, 60</span>
                <span class="medcard-clinic__info medcard-clinic__info--subway">Горьковская</span>
                <span class="medcard-clinic__info medcard-clinic__info--worktime">ПН-ВС 8:00-21:00</span>
            </div>

        </div>
    </div>
    <!-- / Tab -->

    <!-- Tab -->
    <div class="clinics__tab">
        <div class="row">

            <div class="col-xs-8">
                <div class="clinics__tab-img clinics__tab-img--ondocked">
                    <img class="" src="img/medici-logo.jpg" alt=""/>
                </div>
            </div>

            <div class="col-xs-28">
                <h3 class="clinics__tab-title">СМТ</h3>
                <span class="medcard-clinic__info medcard-clinic__info--mappin">Наб. канала Грибоедова, 60</span>
                <span class="medcard-clinic__info medcard-clinic__info--subway">Горьковская</span>
                <span class="medcard-clinic__info medcard-clinic__info--worktime">ПН-ВС 8:00-21:00</span>
            </div>

        </div>
    </div>
    <!-- / Tab -->

    <!-- Tab -->
    <div class="clinics__tab">
        <div class="row">

            <div class="col-xs-8">
                <div class="clinics__tab-img clinics__tab-img--ondocked">
                    <img class="" src="img/medici-logo.jpg" alt=""/>
                </div>
                <span class="clinics__tab-ondocked"></span>
            </div>

            <div class="col-xs-28">
                <h3 class="clinics__tab-title">СМТ</h3>
                <span class="medcard-clinic__info medcard-clinic__info--mappin">Наб. канала Грибоедова, 60</span>
                <span class="medcard-clinic__info medcard-clinic__info--subway">Горьковская</span>
                <span class="medcard-clinic__info medcard-clinic__info--worktime">ПН-ВС 8:00-21:00</span>
            </div>

        </div>
    </div>
    <!-- / Tab -->

    <!-- Tab -->
    <div class="clinics__tab">
        <div class="row">

            <div class="col-xs-8">
                <div class="clinics__tab-img clinics__tab-img--ondocked">
                    <img class="" src="img/medici-logo.jpg" alt=""/>
                </div>
                <span class="clinics__tab-ondocked"></span>
            </div>

            <div class="col-xs-28">
                <h3 class="clinics__tab-title">СМТ</h3>
                <span class="medcard-clinic__info medcard-clinic__info--mappin">Наб. канала Грибоедова, 60</span>
                <span class="medcard-clinic__info medcard-clinic__info--subway">Горьковская</span>
                <span class="medcard-clinic__info medcard-clinic__info--worktime">ПН-ВС 8:00-21:00</span>
            </div>

        </div>
    </div>
    <!-- / Tab -->

    <!-- Tab -->
    <div class="clinics__tab">
        <div class="row">

            <div class="col-xs-8">
                <div class="clinics__tab-img clinics__tab-img--ondocked">
                    <img class="" src="img/medici-logo.jpg" alt=""/>
                </div>
            </div>

            <div class="col-xs-28">
                <h3 class="clinics__tab-title">СМТ</h3>
                <span class="medcard-clinic__info medcard-clinic__info--mappin">Наб. канала Грибоедова, 60</span>
                <span class="medcard-clinic__info medcard-clinic__info--subway">Горьковская</span>
                <span class="medcard-clinic__info medcard-clinic__info--worktime">ПН-ВС 8:00-21:00</span>
            </div>

        </div>
    </div>
    <!-- / Tab -->

    <!-- Tab -->
    <div class="clinics__tab">
        <div class="row">

            <div class="col-xs-8">
                <div class="clinics__tab-img clinics__tab-img--ondocked">
                    <img class="" src="img/medici-logo.jpg" alt=""/>
                </div>
                <span class="clinics__tab-ondocked"></span>
            </div>

            <div class="col-xs-28">
                <h3 class="clinics__tab-title">СМТ</h3>
                <span class="medcard-clinic__info medcard-clinic__info--mappin">Наб. канала Грибоедова, 60</span>
                <span class="medcard-clinic__info medcard-clinic__info--subway">Горьковская</span>
                <span class="medcard-clinic__info medcard-clinic__info--worktime">ПН-ВС 8:00-21:00</span>
            </div>

        </div>
    </div>
    <!-- / Tab -->

    <!-- Tab -->
    <div class="clinics__tab">
        <div class="row">

            <div class="col-xs-8">
                <div class="clinics__tab-img clinics__tab-img--ondocked">
                    <img class="" src="img/medici-logo.jpg" alt=""/>
                </div>
                <span class="clinics__tab-ondocked"></span>
            </div>

            <div class="col-xs-28">
                <h3 class="clinics__tab-title">СМТ</h3>
                <span class="medcard-clinic__info medcard-clinic__info--mappin">Наб. канала Грибоедова, 60</span>
                <span class="medcard-clinic__info medcard-clinic__info--subway">Горьковская</span>
                <span class="medcard-clinic__info medcard-clinic__info--worktime">ПН-ВС 8:00-21:00</span>
            </div>

        </div>
    </div>
    <!-- / Tab -->

    <!-- Tab -->
    <div class="clinics__tab">
        <div class="row">

            <div class="col-xs-8">
                <div class="clinics__tab-img clinics__tab-img--ondocked">
                    <img class="" src="img/medici-logo.jpg" alt=""/>
                </div>
            </div>

            <div class="col-xs-28">
                <h3 class="clinics__tab-title">СМТ</h3>
                <span class="medcard-clinic__info medcard-clinic__info--mappin">Наб. канала Грибоедова, 60</span>
                <span class="medcard-clinic__info medcard-clinic__info--subway">Горьковская</span>
                <span class="medcard-clinic__info medcard-clinic__info--worktime">ПН-ВС 8:00-21:00</span>
            </div>

        </div>
    </div>
    <!-- / Tab -->

    <!-- Tab -->
    <div class="clinics__tab">
        <div class="row">

            <div class="col-xs-8">
                <div class="clinics__tab-img clinics__tab-img--ondocked">
                    <img class="" src="img/medici-logo.jpg" alt=""/>
                </div>
                <span class="clinics__tab-ondocked"></span>
            </div>

            <div class="col-xs-28">
                <h3 class="clinics__tab-title">СМТ</h3>
                <span class="medcard-clinic__info medcard-clinic__info--mappin">Наб. канала Грибоедова, 60</span>
                <span class="medcard-clinic__info medcard-clinic__info--subway">Горьковская</span>
                <span class="medcard-clinic__info medcard-clinic__info--worktime">ПН-ВС 8:00-21:00</span>
            </div>

        </div>
    </div>
    <!-- / Tab -->

</div>
<!-- / Left tabs block -->