<!-- Right block -->
<div class="col-xs-25 widget__right-column">

    <!-- Right column title -->
    <div class="row">
        <div class="col-xs-36 text-center">
            <a class="clinics__enroll-link" href="#">Записаться на прием</a>



            <!-- popup clinics  -->

            <div class="clinics-modal display-none">
                <div class="widgets-block">
                    <form action="">

                        <div class="row">

                            <span class="clinics-modal__close"></span>

                            <div class="col-xs-36 text-center">
                                <p class="clinics-modal__title">Записаться на прием</p>
                            </div>

                            <div class="col-xs-36 text-center clinics-modal__line">
                                <span class="clinics-modal__subtitle"></span>
                            </div>

                            <div class="col-xs-36 text-center">
                                <p class="clinics-modal__telephone--main">8-800-200-45-45</p>
                                <p class="clinics-modal__cmt">CMT на Московском</p>
                            </div>

                            <div class="col-xs-36 text-center clinics-modal__place-info">
                                <span class="clinics-modal__address">Наб канала Грибоедова, 60</span>
                                <span class="clinics-modal__time">ПН-ВС 8:00-20:00</span>
                            </div>

                            <div class="col-xs-36 text-center clinics-modal__line">
                                <span class="clinics-modal__subtitle">Филиалы клиники</span>
                            </div>

                            <div class="col-xs-36 text-center">
                                <p class="clinics-modal__telephone--another">8-800-200-45-45</p>
                                <p class="clinics-modal__text">CMT на Римской</p>
                            </div>

                            <div class="col-xs-36 text-center clinics-modal__place-info">
                                <span class="clinics-modal__address">Наб канала Грибоедова, 60</span>
                                <span class="clinics-modal__time">ПН-ВС 8:00-20:00</span>
                            </div>

                            <div class="col-xs-36 text-center clinics-modal__line">
                                <span class="clinics-modal__subtitle"></span>
                            </div>

                            <div class="col-xs-36 text-center">
                                <p class="clinics-modal__telephone--another">8-800-200-45-45</p>
                                <p class="clinics-modal__text">CMT на Невском</p>
                            </div>

                            <div class="col-xs-36 text-center clinics-modal__place-info">
                                <span class="clinics-modal__address">Наб канала Грибоедова, 60</span>
                                <span class="clinics-modal__time">ПН-ВС 8:00-20:00</span>
                            </div>

                            
                                
                        </div>
                        
                    </form>
                </div>
            </div>

            <!-- popup clinics  -->



        </div>
    </div>

    <!-- Horizontal line -->
    <div class="row widget-consultation widget-consultation--wo-margin">
        <div class="col-xs-36 text-center widget-consultation__line widget-consultation__line--wo-margin">
            <span class="widget-consultation__title"></span>
        </div>
    </div>

    <!-- Clinic title -->
    <div class="row">

        <div class="col-xs-8">
            <div class="">
                <img class="clinics__avatar " src="img/clinic-logo-big.png" alt=""/>
                <span class="clinics__avatar--ondocked"></span>
            </div>
        </div>

        <div class="col-xs-28 non-padding-right">
            <h2 class="clinics__name">Современные медицинские технологии</h2>
            <span class="clinics__star"></span>
        </div>

    </div>

    <!-- Horizontal line -->
    <div class="row widget-consultation widget-consultation--wo-margin">
        <div class="col-xs-36 text-center widget-consultation__line widget-consultation__line--wo-margin">
            <span class="widget-consultation__title"></span>
        </div>
    </div>

    <!-- Specs and docs -->
    <div class="row">

        <div class="col-xs-22 text-left non-padding-left">
            <a class="clinics__specs-link" href="#">Медицинские направления клиники</a>
        </div>

        <div class="col-xs-14 text-right non-padding-right">
            <a class="clinics__docs-link" href="clinics_docs.html">Врачи клиники</a>
        </div>

    </div>

    <!-- Contacts -->
    <div class="row widget-consultation">

        <div class="col-xs-36 widget-consultation__line">
            <span class="widget-consultation__title">Контакты</span>
        </div>

        <div class="col-xs-18 non-padding-left">
            <span class="clinics__info clinics__info--checked clinics__info--mappin">Московский проспект, 22</span>
            <span class="clinics__info clinics__info--worktime">ПН-ВС 8:00-21:00</span>
        </div>

        <div class="col-xs-18 non-padding-right">
            <span class="clinics__info clinics__info--subway">Сенная площадь, Садовая, Спасская</span>
        </div>

    </div>

    <!-- Branch Offices -->
    <div class="row widget-consultation">

        <div class="col-xs-36 widget-consultation__line">
            <span class="widget-consultation__title">Филиалы клиники</span>
        </div>

        <div class="col-xs-18 non-padding-left">
            <span class="clinics__info clinics__info--checked clinics__info--mappin">Московский проспект, 22</span>
            <span class="clinics__info clinics__info--worktime">ПН-ВС 8:00-21:00</span>
        </div>

        <div class="col-xs-18 non-padding-right">
            <span class="clinics__info clinics__info--subway">Сенная площадь, Садовая, Спасская</span>
        </div>

    </div>

    <!-- About -->
    <div class="row widget-consultation">

        <div class="col-xs-36 text-center widget-consultation__line">
            <span class="widget-consultation__title">О клинике</span>
        </div>

        <div class="col-xs-36 non-padding-left">
            <div class="widget-consultation__text">
                <p>
                    Холдинг «Современные медицинские технологии» — это новый формат медицинских клиник, сочетающий западные стандарты медицины с самым современным оборудованием, а демократичные цены – с высоким уровнем сервиса и удобством для пациента.
                </p>
                <p>
                    Наша задача – сделать хорошую медицину доступной и понятной. Основной акцент... мы делаем на непрерывное профессиональное образование медицинских специалистов и современное диагностическое оборудование.
                </p>
            </div>
        </div>

    </div>

    <!-- Horizontal line -->
    <div class="row widget-consultation widget-consultation--wo-margin">
        <div class="col-xs-36 text-center widget-consultation__line widget-consultation__line--wo-margin">
            <span class="widget-consultation__title"></span>
        </div>
    </div>

    <!-- OnDoc Medcard support Status -->
    <div class="row">
        <div class="col-xs-36 text-left">
            <p class="clinics__ondoc-support">Есть поддержка мед карты OnDoc</p>
        </div>
    </div>

    <!-- Horizontal line -->
    <div class="row widget-consultation widget-consultation--wo-margin">
        <div class="col-xs-36 text-center widget-consultation__line widget-consultation__line--wo-margin">
            <span class="widget-consultation__title"></span>
        </div>
    </div>

    <!-- Buttons -->
    <div class="row">
        <div class="col-xs-36 text-center">
            <a class="widget-btn widget-btn--edit" href="">Редактировать</a>
            <a class="widget-btn widget-btn--delete" href="">Удалить</a>

            <!-- POP-UP  delete -->
            <div class="modal-consultation-delete__wrapper display-none">
                <div class="modal-consultation-delete">

                    <div class="col-xs-36 text-center non-padding-left non-padding-right">
                        <p class="modal-consultation-delete__text">
                            Вы уверены что хотите удалить запись? <br/>
                            Это действие нельзя будет отменить.
                        </p>
                    </div>

                    <div class="col-xs-36 text-center">
                        <a class="modal-consultation-delete__btn-no" href="">Отмена</a>
                        <a class="modal-consultation-delete__btn-yes" href="">Удалить</a>
                    </div>

                    <span class="modal-consultation-delete__close"></span>

                </div>
            </div>
            <!-- POP-UP / Consultation delete -->

        </div>
    </div>

</div>
<!-- / Right block -->
