<!-- Docs Header -->
<div class="row docs__header">

    <div class="col-xs-14 text-left">
        <a class="docs__head-link docs__head-link--docs docs__head-link--active" href="docs.html">Врачи</a>
        <a class="docs__head-link docs__head-link--clinics" href="clinics.html">Клиники</a>
    </div>

    <div class="col-xs-8 text-center">
        <a class="docs__head-link docs__head-link--filter arrow-down" href="#">Фильтр</a>
    </div>

    <div class="col-xs-14 text-right">
        <a class="docs__search" href="#"></a>
        <form action="" class="display-none js__search-form">
            <input type="search" placeholder="Поиск" class="docs__search-input"/>
        </form>
    </div>

    <!-- build:include docs__filter.html -->
    This will be replaced by the content of docs__filter.html
    <!-- /build -->

</div>
<!-- / Docs Header -->