<!-- Docs Header -->
<div class="row docs__header">

    <div class="col-xs-14 text-left">
        <a class="docs__head-link docs__head-link--docs docs__head-link--active" href="#">Врачи</a>
        <a class="docs__head-link docs__head-link--clinics" href="#">Клиники</a>
    </div>

    <div class="col-xs-6 text-center">
        <a class="docs__head-link docs__head-link--filter" href="#">Фильтр</a>
    </div>

    <div class="col-xs-16 text-right">
        <a class="docs__search" href="#"></a>
        <form action="" class="display-none js__search-form">
            <input type="search" placeholder="Поиск" class="docs__search-input"/>
        </form>
    </div>

</div>
<!-- / Docs Header -->