<!-- Left tabs block -->
<div class="col-xs-11 widget__left-column">

    <!-- Tab -->
    <div class="docs__tab docs__tab--active">
        <div class="row">

            <div class="col-xs-8">
                <img class="docs__tab-img" src="img/doc-avatar.png" alt=""/>
                <span class="docs__tab-ondocked"></span>
            </div>

            <div class="col-xs-28 non-padding-right non-padding-left">
                <h3 class="docs__tab-title">Гаврилов Петр Вениаминович</h3>
                <p class="docs__tab-specs">Гастроэнтеролог, Физиотерапевт, Диетолог</p>

                <div class="row">
                    <div class="col-xs-20">
                        <span class="docs__tab-info docs__tab-info--rank">Врач высшей категории</span>
                    </div>
                    <div class="col-xs-16 text-right">
                        <span class="docs__tab-info docs__tab-info--exp">10 лет</span>
                    </div>
                </div>

            </div>

        </div>
    </div>
    <!-- / Tab -->

    <!-- Tab -->
    <div class="docs__tab">
        <div class="row">

            <div class="col-xs-8">
                <img class="docs__tab-img" src="img/doc-avatar.png" alt=""/>
                <span class="docs__tab-ondocked"></span>
            </div>

            <div class="col-xs-28 non-padding-right non-padding-left">
                <h3 class="docs__tab-title">Гаврилов Петр Вениаминович</h3>
                <p class="docs__tab-specs">Гастроэнтеролог, Физиотерапевт, Диетолог</p>

                <div class="row">
                    <div class="col-xs-20">
                        <span class="docs__tab-info docs__tab-info--rank">Врач высшей категории</span>
                    </div>
                    <div class="col-xs-16 text-right">
                        <span class="docs__tab-info docs__tab-info--exp">10 лет</span>
                    </div>
                </div>

            </div>

        </div>
    </div>
    <!-- / Tab -->

    <!-- Tab -->
    <div class="docs__tab">
        <div class="row">

            <div class="col-xs-8">
                <img class="docs__tab-img" src="img/doc-avatar.png" alt=""/>
            </div>

            <div class="col-xs-28 non-padding-right non-padding-left">
                <h3 class="docs__tab-title">Гаврилов Петр Вениаминович</h3>
                <p class="docs__tab-specs">Гастроэнтеролог, Физиотерапевт, Диетолог</p>

                <div class="row">
                    <div class="col-xs-20">
                        <span class="docs__tab-info docs__tab-info--rank">Врач высшей категории</span>
                    </div>
                    <div class="col-xs-16 text-right">
                        <span class="docs__tab-info docs__tab-info--exp">10 лет</span>
                    </div>
                </div>

            </div>

        </div>
    </div>
    <!-- / Tab -->

    <!-- Tab -->
    <div class="docs__tab">
        <div class="row">

            <div class="col-xs-8">
                <img class="docs__tab-img" src="img/doc-avatar.png" alt=""/>
                <span class="docs__tab-ondocked"></span>
            </div>

            <div class="col-xs-28 non-padding-right non-padding-left">
                <h3 class="docs__tab-title">Гаврилов Петр Вениаминович</h3>
                <p class="docs__tab-specs">Гастроэнтеролог, Физиотерапевт, Диетолог</p>

                <div class="row">
                    <div class="col-xs-20">
                        <span class="docs__tab-info docs__tab-info--rank">Врач высшей категории</span>
                    </div>
                    <div class="col-xs-16 text-right">
                        <span class="docs__tab-info docs__tab-info--exp">10 лет</span>
                    </div>
                </div>

            </div>

        </div>
    </div>
    <!-- / Tab -->

    <!-- Tab -->
    <div class="docs__tab">
        <div class="row">

            <div class="col-xs-8">
                <img class="docs__tab-img" src="img/doc-avatar.png" alt=""/>
            </div>

            <div class="col-xs-28 non-padding-right non-padding-left">
                <h3 class="docs__tab-title">Гаврилов Петр Вениаминович</h3>
                <p class="docs__tab-specs">Гастроэнтеролог, Физиотерапевт, Диетолог</p>

                <div class="row">
                    <div class="col-xs-20">
                        <span class="docs__tab-info docs__tab-info--rank">Врач высшей категории</span>
                    </div>
                    <div class="col-xs-16 text-right">
                        <span class="docs__tab-info docs__tab-info--exp">10 лет</span>
                    </div>
                </div>

            </div>

        </div>
    </div>
    <!-- / Tab -->

    <!-- Tab -->
    <div class="docs__tab">
        <div class="row">

            <div class="col-xs-8">
                <img class="docs__tab-img" src="img/doc-avatar.png" alt=""/>
                <span class="docs__tab-ondocked"></span>
            </div>

            <div class="col-xs-28 non-padding-right non-padding-left">
                <h3 class="docs__tab-title">Гаврилов Петр Вениаминович</h3>
                <p class="docs__tab-specs">Гастроэнтеролог, Физиотерапевт, Диетолог</p>

                <div class="row">
                    <div class="col-xs-20">
                        <span class="docs__tab-info docs__tab-info--rank">Врач высшей категории</span>
                    </div>
                    <div class="col-xs-16 text-right">
                        <span class="docs__tab-info docs__tab-info--exp">10 лет</span>
                    </div>
                </div>

            </div>

        </div>
    </div>
    <!-- / Tab -->

    <!-- Tab -->
    <div class="docs__tab">
        <div class="row">

            <div class="col-xs-8">
                <img class="docs__tab-img" src="img/doc-avatar.png" alt=""/>
            </div>

            <div class="col-xs-28 non-padding-right non-padding-left">
                <h3 class="docs__tab-title">Гаврилов Петр Вениаминович</h3>
                <p class="docs__tab-specs">Гастроэнтеролог, Физиотерапевт, Диетолог</p>

                <div class="row">
                    <div class="col-xs-20">
                        <span class="docs__tab-info docs__tab-info--rank">Врач высшей категории</span>
                    </div>
                    <div class="col-xs-16 text-right">
                        <span class="docs__tab-info docs__tab-info--exp">10 лет</span>
                    </div>
                </div>

            </div>

        </div>
    </div>
    <!-- / Tab -->

    <!-- Tab -->
    <div class="docs__tab">
        <div class="row">

            <div class="col-xs-8">
                <img class="docs__tab-img" src="img/doc-avatar.png" alt=""/>
                <span class="docs__tab-ondocked"></span>
            </div>

            <div class="col-xs-28 non-padding-right non-padding-left">
                <h3 class="docs__tab-title">Гаврилов Петр Вениаминович</h3>
                <p class="docs__tab-specs">Гастроэнтеролог, Физиотерапевт, Диетолог</p>

                <div class="row">
                    <div class="col-xs-20">
                        <span class="docs__tab-info docs__tab-info--rank">Врач высшей категории</span>
                    </div>
                    <div class="col-xs-16 text-right">
                        <span class="docs__tab-info docs__tab-info--exp">10 лет</span>
                    </div>
                </div>

            </div>

        </div>
    </div>
    <!-- / Tab -->

    <!-- Tab -->
    <div class="docs__tab">
        <div class="row">

            <div class="col-xs-8">
                <img class="docs__tab-img" src="img/doc-avatar.png" alt=""/>
            </div>

            <div class="col-xs-28 non-padding-right non-padding-left">
                <h3 class="docs__tab-title">Гаврилов Петр Вениаминович</h3>
                <p class="docs__tab-specs">Гастроэнтеролог, Физиотерапевт, Диетолог</p>

                <div class="row">
                    <div class="col-xs-20">
                        <span class="docs__tab-info docs__tab-info--rank">Врач высшей категории</span>
                    </div>
                    <div class="col-xs-16 text-right">
                        <span class="docs__tab-info docs__tab-info--exp">10 лет</span>
                    </div>
                </div>

            </div>

        </div>
    </div>
    <!-- / Tab -->

    <!-- Tab -->
    <div class="docs__tab">
        <div class="row">

            <div class="col-xs-8">
                <img class="docs__tab-img" src="img/doc-avatar.png" alt=""/>
                <span class="docs__tab-ondocked"></span>
            </div>

            <div class="col-xs-28 non-padding-right non-padding-left">
                <h3 class="docs__tab-title">Гаврилов Петр Вениаминович</h3>
                <p class="docs__tab-specs">Гастроэнтеролог, Физиотерапевт, Диетолог</p>

                <div class="row">
                    <div class="col-xs-20">
                        <span class="docs__tab-info docs__tab-info--rank">Врач высшей категории</span>
                    </div>
                    <div class="col-xs-16 text-right">
                        <span class="docs__tab-info docs__tab-info--exp">10 лет</span>
                    </div>
                </div>

            </div>

        </div>
    </div>
    <!-- / Tab -->

    <!-- Tab -->
    <div class="docs__tab">
        <div class="row">

            <div class="col-xs-8">
                <img class="docs__tab-img" src="img/doc-avatar.png" alt=""/>
            </div>

            <div class="col-xs-28 non-padding-right non-padding-left">
                <h3 class="docs__tab-title">Гаврилов Петр Вениаминович</h3>
                <p class="docs__tab-specs">Гастроэнтеролог, Физиотерапевт, Диетолог</p>

                <div class="row">
                    <div class="col-xs-20">
                        <span class="docs__tab-info docs__tab-info--rank">Врач высшей категории</span>
                    </div>
                    <div class="col-xs-16 text-right">
                        <span class="docs__tab-info docs__tab-info--exp">10 лет</span>
                    </div>
                </div>

            </div>

        </div>
    </div>
    <!-- / Tab -->

    <!-- Tab -->
    <div class="docs__tab">
        <div class="row">

            <div class="col-xs-8">
                <img class="docs__tab-img" src="img/doc-avatar.png" alt=""/>
                <span class="docs__tab-ondocked"></span>
            </div>

            <div class="col-xs-28 non-padding-right non-padding-left">
                <h3 class="docs__tab-title">Гаврилов Петр Вениаминович</h3>
                <p class="docs__tab-specs">Гастроэнтеролог, Физиотерапевт, Диетолог</p>

                <div class="row">
                    <div class="col-xs-20">
                        <span class="docs__tab-info docs__tab-info--rank">Врач высшей категории</span>
                    </div>
                    <div class="col-xs-16 text-right">
                        <span class="docs__tab-info docs__tab-info--exp">10 лет</span>
                    </div>
                </div>

            </div>

        </div>
    </div>
    <!-- / Tab -->

    <!-- Tab -->
    <div class="docs__tab">
        <div class="row">

            <div class="col-xs-8">
                <img class="docs__tab-img" src="img/doc-avatar.png" alt=""/>
            </div>

            <div class="col-xs-28 non-padding-right non-padding-left">
                <h3 class="docs__tab-title">Гаврилов Петр Вениаминович</h3>
                <p class="docs__tab-specs">Гастроэнтеролог, Физиотерапевт, Диетолог</p>

                <div class="row">
                    <div class="col-xs-20">
                        <span class="docs__tab-info docs__tab-info--rank">Врач высшей категории</span>
                    </div>
                    <div class="col-xs-16 text-right">
                        <span class="docs__tab-info docs__tab-info--exp">10 лет</span>
                    </div>
                </div>

            </div>

        </div>
    </div>
    <!-- / Tab -->

    <!-- Tab -->
    <div class="docs__tab">
        <div class="row">

            <div class="col-xs-8">
                <img class="docs__tab-img" src="img/doc-avatar.png" alt=""/>
                <span class="docs__tab-ondocked"></span>
            </div>

            <div class="col-xs-28 non-padding-right non-padding-left">
                <h3 class="docs__tab-title">Гаврилов Петр Вениаминович</h3>
                <p class="docs__tab-specs">Гастроэнтеролог, Физиотерапевт, Диетолог</p>

                <div class="row">
                    <div class="col-xs-20">
                        <span class="docs__tab-info docs__tab-info--rank">Врач высшей категории</span>
                    </div>
                    <div class="col-xs-16 text-right">
                        <span class="docs__tab-info docs__tab-info--exp">10 лет</span>
                    </div>
                </div>

            </div>

        </div>
    </div>
    <!-- / Tab -->

    <!-- Tab -->
    <div class="docs__tab">
        <div class="row">

            <div class="col-xs-8">
                <img class="docs__tab-img" src="img/doc-avatar.png" alt=""/>
            </div>

            <div class="col-xs-28 non-padding-right non-padding-left">
                <h3 class="docs__tab-title">Гаврилов Петр Вениаминович</h3>
                <p class="docs__tab-specs">Гастроэнтеролог, Физиотерапевт, Диетолог</p>

                <div class="row">
                    <div class="col-xs-20">
                        <span class="docs__tab-info docs__tab-info--rank">Врач высшей категории</span>
                    </div>
                    <div class="col-xs-16 text-right">
                        <span class="docs__tab-info docs__tab-info--exp">10 лет</span>
                    </div>
                </div>

            </div>

        </div>
    </div>
    <!-- / Tab -->

</div>
<!-- / Left tabs block -->