<!-- Right block -->
<div class="col-xs-25 widget__right-column">

    <!-- Right column title -->
    <div class="row">
        <div class="col-xs-36">
            <p class="drugs__drug-title">Ноотропил <span class="drugs__drug-title--type">(таблетки)</span></p>
        </div>
    </div>

    <!-- Time to take it -->
    <div class="row widget-consultation">

        <div class="col-xs-36 widget-consultation__line">
            <span class="widget-consultation__title">Время приема</span>
        </div>

        <p class="drugs__drug-time">3 раза в день</p>
        
        <div class="row">
            <div class="col-xs-12 text-left">
                <span class="drugs__drug-value">9:00</span>
                <span class="drugs__drug-value">10 мг</span>
            </div>
            <div class="col-xs-12 text-center">
                <span class="drugs__drug-value">15:00</span>
                <span class="drugs__drug-value">10 мг</span>
            </div>
            <div class="col-xs-12 text-right">
                <span class="drugs__drug-value">20:00</span>
                <span class="drugs__drug-value">10 мг</span>
            </div>
        </div>

    </div>

    <!-- Days to take it -->
    <div class="row widget-consultation">

        <div class="col-xs-36 text-center widget-consultation__line">
            <span class="widget-consultation__title">Дни приема</span>
        </div>

        <div class="col-xs-36 text-center">
            <p class="drugs__drug-day drugs__drug-day--active">пн</p>
            <p class="drugs__drug-day drugs__drug-day--active">вт</p>
            <p class="drugs__drug-day drugs__drug-day--active">ср</p>
            <p class="drugs__drug-day drugs__drug-day--active">чт</p>
            <p class="drugs__drug-day drugs__drug-day--active">пт</p>
            <p class="drugs__drug-day">сб</p>
            <p class="drugs__drug-day">вс</p>
        </div>

    </div>

    <!-- Course time -->
    <div class="row widget-consultation">

        <div class="col-xs-36 text-center widget-consultation__line">
            <span class="widget-consultation__title">Длительность курса</span>
        </div>

        <div class="col-xs-36 text-center">
            <p class="widget-consultation__text">21 день <span class="color-grey">/ 19 августа 2014 - 10 сентября 2014</span></p>
        </div>

    </div>

    <!-- Recommendations -->
    <div class="row widget-consultation">

        <div class="col-xs-36 text-center widget-consultation__line">
            <span class="widget-consultation__title">Рекомендации</span>
        </div>

        <div class="col-xs-36 text-center">
            <p class="widget-consultation__text">Принимать через 15 минут после еды</p>
        </div>

    </div>

    <!-- Doctor -->
    <div class="row widget-consultation">

        <div class="col-xs-36 text-center widget-consultation__line">
            <span class="widget-consultation__title">Назначен врачом</span>
        </div>

        <div class="col-xs-36">
            <div class="row">

                <div class="col-xs-4 col-lg-offset-12 col-md-offset-12 col-sm-offset-12 text-right">
                    <img class="drugs__doctor-img" src="img/avatar-doctor.png" alt=""/>
                </div>
                <div class="col-xs-14">
                    <a class="drugs__doctor-name" href="#">Сергеев В. И.</a>

                    <!-- Doctor info Pop-Up -->
                    <div class="medcard-docinfo medcard-docinfo--drugs display-none">

                        <!-- Doctor info header -->
                        <div class="medcard-docinfo__block">

                            <span class="medcard-docinfo__star"></span>

                            <div class="medcard-docinfo__doc-avatar">
                                <img class="medcard-docinfo__doc-avatar-img" src="img/doc-avatar.png" alt=""/>
                            </div>

                            <h2 class="medcard-docinfo__doc-name">Сергеев Владимир Иванович</h2>

                            <h3 class="medcard-docinfo__doc-specs">Гастроэнтеролог, Физиотерапевт</h3>

                        </div>
                        <!-- / Doctor info header -->

                        <!-- Doctor info experience -->
                        <div class="medcard-docinfo__block">

                            <div class="medcard-docinfo__title-line">
                                <span class="medcard-docinfo__title">Опыт</span>
                            </div>

                            <p class="medcard-docinfo__exp-rank">Врач высшей категории</p>

                            <p class="medcard-docinfo__exp-years">20 лет стаж</p>

                        </div>
                        <!-- / Doctor info experience -->

                        <!-- Doctor info phone -->
                        <div class="medcard-docinfo__block">

                            <div class="medcard-docinfo__title-line">
                                <span class="medcard-docinfo__title">Телефон</span>
                            </div>

                            <a class="medcard-docinfo__phone" href="tel:+79206744334" title="Позвонить">+7 (920) 674-43-34</a>

                        </div>
                        <!-- / Doctor info phone -->

                        <!-- Doctor info receiving locations -->
                        <div class="medcard-docinfo__block">

                            <div class="medcard-docinfo__title-line">
                                <span class="medcard-docinfo__title">Места приема</span>
                            </div>

                            <!-- Receiving location item -->
                            <div class="medcard-docinfo__location">

                                <div class="col-xs-8">
                                    <img class="medcard-docinfo__clinic-logo" src="img/clinic-logo-2.png" alt=""/>
                                </div>

                                <div class="col-xs-28">
                                    <h3 class="medcard-docinfo__clinic-name">Будь здоров</h3>
                                    <p class="medcard-docinfo__clinic-subway">Горьковская</p>
                                </div>

                                <span class="medcard-docinfo__clinic-arrow"></span>

                            </div>
                            <!-- / Receiving location item -->

                            <!-- Receiving location item -->
                            <div class="medcard-docinfo__location ">

                                <div class="col-xs-8">
                                    <img class="medcard-docinfo__clinic-logo" src="img/medici-logo.jpg" alt=""/>
                                </div>

                                <div class="col-xs-28">
                                    <h3 class="medcard-docinfo__clinic-name">Клиника «MEDICI»</h3>
                                    <p class="medcard-docinfo__clinic-subway">Невский проспект</p>
                                </div>

                                <span class="medcard-docinfo__clinic-arrow"></span>

                            </div>
                            <!-- / Receiving location item -->

                            <!-- Receiving location item -->
                            <div class="medcard-docinfo__location ">

                                <div class="col-xs-8">
                                    <img class="medcard-docinfo__clinic-logo" src="img/clinic-logo-2.png" alt=""/>
                                </div>

                                <div class="col-xs-28">
                                    <h3 class="medcard-docinfo__clinic-name">Будь здоров</h3>
                                    <p class="medcard-docinfo__clinic-subway">Горьковская</p>
                                </div>

                                <span class="medcard-docinfo__clinic-arrow"></span>

                            </div>
                            <!-- / Receiving location item -->

                            <!-- Receiving location item -->
                            <div class="medcard-docinfo__location ">

                                <div class="col-xs-8">
                                    <img class="medcard-docinfo__clinic-logo" src="img/medici-logo.jpg" alt=""/>
                                </div>

                                <div class="col-xs-28">
                                    <h3 class="medcard-docinfo__clinic-name">Клиника «MEDICI»</h3>
                                    <p class="medcard-docinfo__clinic-subway">Невский проспект</p>
                                </div>

                                <span class="medcard-docinfo__clinic-arrow"></span>

                            </div>
                            <!-- / Receiving location item -->

                        </div>
                        <!-- / Doctor info receiving locations -->

                        <!-- Doctor info - about specialist -->
                        <div class="medcard-docinfo__block">

                            <div class="medcard-docinfo__title-line">
                                <span class="medcard-docinfo__title">О специалисте</span>
                            </div>

                            <p class="medcard-docinfo__about">
                                Орден Правительства РФ за выдающиеся заслуги в области гинекологии (2010 г.)
                            </p>

                            <p class="medcard-docinfo__about">
                                Один из авторитетнейших специалистов России в области лечения миомы матки, основоположник методики Эмболизация миомы матки на территории СНГ
                                Участник международных конгрессов и конференций по обмену опытом с мировыми специалистами в области гинекологии
                            </p>

                        </div>
                        <!-- Doctor info - about specialist -->

                        <!-- Allow to view profile -->
                        <div class="medcard-docinfo__block">
                            <input class="medcard-docinfo__allow-check" type="checkbox" id="allow-view-profile-checkbox"/>
                            <label for="allow-view-profile-checkbox">Разрешить просмотр моего профиля</label>
                        </div>
                        <!-- / Allow to view profile -->

                        <!-- OnDoc medcard support -->
                        <div class="medcard-docinfo__block">

                            <p class="medcard-docinfo__support-status">Есть поддержка медкарты OnDoc</p>

                        </div>
                        <!-- / OnDoc medcard support -->

                    </div>
                    <!-- / Doctor info Pop-Up -->

                    <p class="drugs__doctor-prof">Гастроэнтеролог</p>
                </div>

            </div>
        </div>

    </div>

    <!-- Diagnosis -->
    <div class="row widget-consultation">

        <div class="col-xs-36 text-center widget-consultation__line">
            <span class="widget-consultation__title">Диагноз</span>
        </div>

        <div class="col-xs-36">
            <p class="widget-consultation__text">Поверхностный дуоденит двенадцатиперстной кишки на фоне заброса желчи в пищевод</p>
        </div>

    </div>

    <!-- Reaction -->
    <div class="row widget-consultation">

        <div class="col-xs-36 text-center widget-consultation__line">
            <span class="widget-consultation__title">Реакция на препарат</span>
        </div>
        <div class="col-xs-36 text-center">
            <a href="#" class="drugs__drug-reaction drugs__drug-reaction--ok js-drugs-popup-toogle"></a>

            <!-- Reaction Pop-Up -->
            <div class="drugs__drug-reaction-popup display-none">
                <p class="drugs__drug-reaction drugs__drug-reaction--active drugs__drug-reaction--ok">Хорошая</p>
                <p class="drugs__drug-reaction drugs__drug-reaction--side">Побочные действия</p>
                <p class="drugs__drug-reaction drugs__drug-reaction--know">Не знаю</p>
                <p class="drugs__drug-reaction drugs__drug-reaction--prohibited">Противопоказан</p>
            </div>
            <!-- / Reaction Pop-Up -->

        </div>

    </div>

    <!-- Comments -->
    <div class="row widget-consultation">

        <div class="col-xs-36 text-center widget-consultation__line">
            <span class="widget-consultation__title">Комментарии</span>
        </div>

        <div class="col-xs-36">
            <p class="widget-consultation__text">Повысилась температура после приема, упала только вечером.</p>
            <time class="drugs__drug-date">19.05.2014</time>
        </div>

        <div class="col-xs-36">
            <p class="widget-consultation__text">Повысилась температура после приема, упала только вечером.</p>
            <time class="drugs__drug-date">19.05.2014</time>
        </div>
        
        <div class="col-xs-36">
            <form action="">
                <input type="text" class="drugs__drug-comment" placeholder="Текст комментария"/>
            </form>
        </div>

    </div>

    <!-- Horizontal line -->
    <div class="row widget-consultation widget-consultation--wo-margin">
        <div class="col-xs-36 text-center widget-consultation__line widget-consultation__line--wo-margin">
            <span class="widget-consultation__title"></span>
        </div>
    </div>

    <!-- Buttons -->
    <div class="row">
        <div class="col-xs-36 text-center">
            <a class="widget-btn widget-btn--edit" href="">Редактировать</a>
            <a class="widget-btn widget-btn--delete" href="">Удалить</a>

            <!-- POP-UP  delete -->
            <div class="modal-consultation-delete__wrapper display-none">
                <div class="modal-consultation-delete">

                    <div class="col-xs-36 text-center non-padding-left non-padding-right">
                        <p class="modal-consultation-delete__text">
                            Вы уверены что хотите удалить запись? <br/>
                            Это действие нельзя будет отменить.
                        </p>
                    </div>

                    <div class="col-xs-36 text-center">
                        <a class="modal-consultation-delete__btn-no" href="">Отмена</a>
                        <a class="modal-consultation-delete__btn-yes" href="">Удалить</a>
                    </div>

                    <span class="modal-consultation-delete__close"></span>

                </div>
            </div>
            <!-- POP-UP / Consultation delete -->

        </div>
    </div>

</div>
<!-- / Right block -->
