<!-- PAGE HEADER -->
<header class="main-header">
    <div class="container">
        <div class="row">

            <!-- Logo -->
            <div class="col-xs-7">
                <a class="main-header__link" href="main.html" title="OnDoc - Персональное здравоохранение">
                    <img src="img/ondoc-logo.png" alt="OnDoc - Персональное здравоохранение"/>
                </a>
            </div>

            <!-- Question -->
            <div class="col-xs-16">
                <a href="#" class="main-header__link main-header__question">Поддержка пользователей</a>
            </div>

            <!-- Profile -->
            <div class="col-xs-13 pull-right">
                <div class="dropdown pull-right">

                    <img class="main-header__avatar" src="img/avatar.png" alt="Смирнов Иван"/>

                    <a class="main-header__link main-header__dropdown-toggle">Смирнов Иван</a>

                    <!-- Dropdown menu-->
                    <div class="main-header__dropdown display-none">
                        <ul>
                            <li><a class="main-header__dropdown-link" href="health.html">Личный кабинет</a></li>
                            <li><a class="main-header__dropdown-link main-header__dropdown-link--active"
                                   href="profile__main.html">Настройки</a></li>
                            <li><a class="main-header__dropdown-link" href="">Выход</a></li>
                        </ul>
                    </div>
                    <!-- / Dropdown menu-->

                </div>
            </div>
        </div>
    </div>
</header>
<!-- / PAGE HEADER -->