<!-- PAGE HEADER -->
<header class="main-header container-fluid">
    <div class="container">
        <div class="row">

            <!-- Logo -->
            <div class="col-xs-7">
                <a class="main-header__logo main-header__link main-header__link--logotext" href="index.html" title="OnDoc - Персональное здравоохранение">
                    <img class="" src="img/logo.png" alt="OnDoc - Персональное здравоохранение"/>
                    <span class="" title="OnDoc - Персональное здравоохранение">OnDoc</span>
                </a>
            </div>

            <!-- Question -->
            <div class="col-xs-16">
                <a href="#" class="main-header__link main-header__question">Поддержка пользователей</a>
            </div>

            <!-- Profile -->
            <div class="col-xs-13 pull-right">
                <div class="dropdown pull-right">

                    <img class="main-header__avatar" src="img/avatar.png" alt="Смирнов Иван"/>

                    <a class="main-header__link main-header__dropdown-toggle">Смирнов Иван</a>

                    <!-- Dropdown menu-->
                    <div class="main-header__dropdown display-none">
                        <ul>
                            <li><a class="main-header__dropdown-link" href="index.html">Личный кабинет</a></li>
                            <li><a class="main-header__dropdown-link main-header__dropdown-link--active" href="profile.html">Настройки</a></li>
                            <li><a class="main-header__dropdown-link" href="">Выход</a></li>
                        </ul>
                    </div>
                    <!-- / Dropdown menu-->

                </div>
            </div>
        </div>
    </div>
</header>
<!-- / PAGE HEADER -->