<!-- popup steps  -->

<div class="steps-modal">
    <div class="widgets-block">

        <!-- step 1 -->

        <div class="steps-modal__step-first text-center">

            <div class="row">
                <span class="steps-modal__close"></span>
                <div class="col-xs-36 text-center">
                    <p class="steps-modal__title">OnDoc поможет вам и вашим близким оставаться здоровыми</p>
                    <p class="steps-modal__subtitle">Начать просто. Укажите основную информацию о себе</p>
                    <div class="steps-modal__img--profile"></div>
                    <div class="user-data text-center">

                        <div><a href="" class="steps-modal__calendar">30.02.1987</a></div>

                        <div class="user-data__height"><input type="text" class="user-data__input" placeholder="Рост"></input></div>
                        <div class="user-data__weight"><input type="text" class="user-data__input" placeholder="Вес"></input></div>

                        <div>
                            <a href="" class="user-data__sex user-data__sex-male user-data__sex--active">Муж</a>
                            <a href="" class="user-data__sex user-data__sex-female">Жен</a>
                        </div>
                        
                    </div>
                    
                    <a href="" class="steps-modal__btn--next">Продолжить</a>

                </div>
            </div>

        </div>
            
        <!-- step 1 -->
            
    </div>
</div>

<!-- popup steps  -->