<!-- popup steps  -->

<div class="steps-modal">
    <div class="widgets-block">

        <!-- step 1 -->

        <div class="steps-modal__step--first text-center">

            <div class="row">
                <span class="steps-modal__close"></span>
                <div class="col-xs-36 text-center">
                    <p class="steps-modal__title">OnDoc поможет вам и вашим близким оставаться здоровыми</p>
                    <p class="steps-modal__subtitle">Начать просто. Укажите основную информацию о себе</p>
                    <div class="steps-modal__img--profile"></div>
                    <div class="user-data text-center">

                        <div><a href="" class="user-data__calendar">30.02.1987</a></div>
                        <div class="user-data__height"><input type="text" class="user-data__input" placeholder="Рост"></input></div>
                        <div class="user-data__weight"><input type="text" class="user-data__input" placeholder="Вес"></input></div>

                        <div>
                            <a href="" class="user-data__sex user-data__sex-male user-data__sex--active">Муж</a>
                            <a href="" class="user-data__sex user-data__sex-female">Жен</a>
                        </div>
                        
                    </div>
                    
                    <a href="" class="steps-modal__btn--next">Продолжить</a>

                </div>
            </div>

        </div>
            
        <!-- step 1 -->


        <!-- step 2 -->

        <div class="steps-modal__step--second text-center display-none">

            <div class="row">
                <span class="steps-modal__close"></span>
                <div class="col-xs-36 text-center">
                    <div class="steps-modal__wrapper">
                        <p class="steps-modal__title">Отлично! Вы заработали 100 ВитаБонусов!</p>
     
                        <div class="steps-modal__img--present"></div>

                        <p class="steps-modal__subtitle">Каждый раз, когда вы вносите информацию о здоровье –<br />вы получаете ВитаБонусы.</p>
                        <p class="steps-modal__subtitle">Накапливайте и меняйте их на подарки.</p>
                    </div>

                    <div class="steps-pagination text-center">
                        <a href="" class="steps-pagination__item steps-pagination__item--active"></a>
                        <a href="" class="steps-pagination__item"></a>
                        <a href="" class="steps-pagination__item"></a>
                        <a href="" class="steps-pagination__item"></a>
                        <a href="" class="steps-pagination__item"></a>
                    </div>
                    
                    <a href="" class="steps-modal__btn--next">Далее</a>

                </div>
            </div>

        </div>
            
        <!-- step 2 -->


        <!-- step 3 -->

        <div class="steps-modal__step--third text-center display-none">

            <div class="row">
                <span class="steps-modal__close"></span>
                <div class="col-xs-36 text-center">
                    <div class="steps-modal__wrapper">
                        <p class="steps-modal__title">OnDoc создаёт для вас персональные рекомендации<br />по контролю состояния здоровья</p>
     
                        <div class="steps-modal__img--list"></div>

                        <p class="steps-modal__subtitle">Чем больше информации вы вносите — тем больше<br />мы сможем рассказать вам о вашем здоровье.</p>
                    </div>

                    <div class="steps-pagination text-center">
                        <a href="" class="steps-pagination__item"></a>
                        <a href="" class="steps-pagination__item steps-pagination__item--active"></a>
                        <a href="" class="steps-pagination__item"></a>
                        <a href="" class="steps-pagination__item"></a>
                        <a href="" class="steps-pagination__item"></a>
                    </div>
                    
                    <a href="" class="steps-modal__btn--next">Далее</a>

                </div>
            </div>

        </div>
            
        <!-- step 3 -->


        <!-- step 4 -->

        <div class="steps-modal__step--fourth text-center display-none">

            <div class="row">
                <span class="steps-modal__close"></span>
                <div class="col-xs-36 text-center">
                    <div class="steps-modal__wrapper">
                        <p class="steps-modal__title">Легкое добавление данных</p>
     
                        <div class="steps-modal__img--add"></div>

                        <p class="steps-modal__subtitle">Вы можете получать данные из клиник и<br />синхронизируемых медицинских устройств.</p>
                        <p class="steps-modal__subtitle">Добавлять данные вручную также просто — найдите<br />такую иконку и внесите данные в любом разделе.</p>
                    </div>

                    <div class="steps-pagination text-center">
                        <a href="" class="steps-pagination__item"></a>
                        <a href="" class="steps-pagination__item"></a>
                        <a href="" class="steps-pagination__item steps-pagination__item--active"></a>
                        <a href="" class="steps-pagination__item"></a>
                        <a href="" class="steps-pagination__item"></a>
                    </div>
                    
                    <a href="" class="steps-modal__btn--next">Далее</a>

                </div>
            </div>

        </div>
            
        <!-- step 4 -->


        <!-- step 5 -->

        <div class="steps-modal__step--fifth text-center display-none">

            <div class="row">
                <span class="steps-modal__close"></span>
                <div class="col-xs-36 text-center">
                    <div class="steps-modal__wrapper">
                        <p class="steps-modal__title">Никто не имеет доступа к вашим данным</p>
     
                        <div class="steps-modal__img--person-private"></div>

                        <p class="steps-modal__subtitle">Мы никогда не передаем ваши медицинские данные третьим лицам.</p>
                        <p class="steps-modal__subtitle">Только вы можете предоставить доступ врачу или близкому человеку <br />к выбранной информации.</p>
                        <p class="steps-modal__subtitle">Это всегда под вашим контролем.</p>
                    </div>

                    <div class="steps-pagination text-center">
                        <a href="" class="steps-pagination__item"></a>
                        <a href="" class="steps-pagination__item"></a>
                        <a href="" class="steps-pagination__item"></a>
                        <a href="" class="steps-pagination__item steps-pagination__item--active"></a>
                        <a href="" class="steps-pagination__item"></a>
                    </div>
                    
                    <a href="" class="steps-modal__btn--next">Далее</a>

                </div>
            </div>

        </div>
            
        <!-- step 5 -->


        <!-- step 6 -->

        <div class="steps-modal__step--sixth text-center display-none">

            <div class="row">
                <span class="steps-modal__close"></span>
                <div class="col-xs-36 text-center">
                    <div class="steps-modal__wrapper">
                        <p class="steps-modal__title">Отлично!</p>
     
                        <div class="steps-modal__img--success"></div>

                        <p class="steps-modal__subtitle">Используйте OnDoc регулярно, чтобы обладать полной<br />информацией о своем здоровье и сохранить его надолго.</p>
                    </div>

                    <div class="steps-pagination text-center">
                        <a href="" class="steps-pagination__item"></a>
                        <a href="" class="steps-pagination__item"></a>
                        <a href="" class="steps-pagination__item"></a>
                        <a href="" class="steps-pagination__item"></a>
                        <a href="" class="steps-pagination__item steps-pagination__item--active"></a>
                    </div>
                    
                    <a href="" class="steps-modal__btn--next">Начать</a>

                </div>
            </div>

        </div>
            
        <!-- step 6 -->

            
    </div>
</div>

<!-- popup steps  -->