<!-- Left Sidebar -->
            <aside class="col-xs-10 col-sm-10 col-md-8 col-lg-7">
                <div class="sidebar">

                    <!-- Profile -->
                    <div class="sidebar__profile bottom-line-light text-center">
                        <img class="sidebar__avatar img-responsive" src="img/big-avatar.png" alt="Смирнов Иван" title="Смирнов Иван"/>
                        <p class="sidebar__name">Смирнов Иван</p>
                    </div>
                    <!-- / Profile -->

                    <!-- Menu -->
                    <div class="sidebar__menu">
                        <ul class="sidebar__menu-list">
                            <li class="sidebar__menu-item"><a class="sidebar__menu-link sidebar__menu-link--active" href="index.html">Состояние здоровья</a></li>
                            <li class="sidebar__menu-item"><a class="sidebar__menu-link sidebar__menu-link--monitor" href="monitoring.html">Монитор показателей</a></li>
                            <li class="sidebar__menu-item"><a class="sidebar__menu-link sidebar__menu-link--cart" href="medkarta.html">Медицинская карта</a></li>
                            <li class="sidebar__menu-item"><a class="sidebar__menu-link sidebar__menu-link--data" href="">Медицинские данные</a></li>
                            <li class="sidebar__menu-item"><a class="sidebar__menu-link sidebar__menu-link--doctor" href="">Врачи и клиники</a></li>
                            <li class="sidebar__menu-item"><a class="sidebar__menu-link sidebar__menu-link--bonus" href="">ВитаБонус</a></li>
                        </ul>
                    </div>
                    <!-- / Menu -->
                </div>
            </aside>
            <!-- / Left Sidebar -->