<!-- Mini widget - Consultation -->
<div class="col-xs-12">

    <div class="medcard-widget">

        <!-- Mini widget header -->
        <div class="medcard-widget__header">

            <a class="medcard-widget__title medcard-widget__title--survey" href="">Обследования</a>
            <a class="medcard-widget__add-btn" href="#" title="Добавить новое обследование"></a>

        </div>
        <!-- / Mini widget header -->

        <!-- Mini widget body -->
        <div class="medcard-widget__body medcard-widget__body--cap">

            <span class="medcard-widget__cap-img medcard-widget__cap-img--survey"></span>
            <p class="medcard-widget__cap-text">Возможность сохранять и получать обследования скоро будет доступна</p>

        </div>
        <!-- Mini widget body -->

    </div>

</div>
<!-- / Mini widget -->