<!-- Mini widget - Consultation -->
<div class="col-xs-12">

    <div class="medcard-widget">

        <!-- Mini widget header -->
        <div class="medcard-widget__header">

            <a class="medcard-widget__title medcard-widget__title--survey" href="">Обследования</a>
            <a class="medcard-widget__add-btn" href="#" title="Добавить новое обследование"></a>

        </div>
        <!-- / Mini widget header -->

        <!-- Mini widget body -->
        <div class="medcard-widget__body">

            <!-- Tab -->
            <div class="widget-tab bottom-line-grey">
                <h3 class="widget-tab__title">УЗИ желудка</h3>
                <p class="widget-tab__description">Дискенезия желчевыводящих путей</p>
                <div class="row">
                    <div class="col-xs-20">
                        <span class="widget-tab__clinic pull-left">СМТ клиника</span>
                    </div>
                    <div class="col-xs-16">
                        <time class="widget-tab__date pull-right">19.05.2014</time>
                    </div>
                </div>
            </div>

            <!-- Tab -->
            <div class="widget-tab bottom-line-grey">
                <h3 class="widget-tab__title">УЗИ желудка</h3>
                <p class="widget-tab__description">Дискенезия желчевыводящих путей</p>
                <div class="row">
                    <div class="col-xs-20">
                        <span class="widget-tab__clinic pull-left">СМТ клиника</span>
                    </div>
                    <div class="col-xs-16">
                        <time class="widget-tab__date pull-right">19.05.2014</time>
                    </div>
                </div>
            </div>

            <!-- Tab -->
            <div class="widget-tab bottom-line-grey">
                <h3 class="widget-tab__title">УЗИ желудка</h3>
                <p class="widget-tab__description">Дискенезия желчевыводящих путей</p>
                <div class="row">
                    <div class="col-xs-20">
                        <span class="widget-tab__clinic pull-left">СМТ клиника</span>
                    </div>
                    <div class="col-xs-16">
                        <time class="widget-tab__date pull-right">19.05.2014</time>
                    </div>
                </div>
            </div>

            <!-- Tab -->
            <div class="widget-tab bottom-line-grey">
                <h3 class="widget-tab__title">УЗИ желудка</h3>
                <p class="widget-tab__description">Дискенезия желчевыводящих путей</p>
                <div class="row">
                    <div class="col-xs-20">
                        <span class="widget-tab__clinic pull-left">СМТ клиника</span>
                    </div>
                    <div class="col-xs-16">
                        <time class="widget-tab__date pull-right">19.05.2014</time>
                    </div>
                </div>
            </div>

            <!-- Tab -->
            <div class="widget-tab bottom-line-grey">
                <h3 class="widget-tab__title">УЗИ желудка</h3>
                <p class="widget-tab__description">Дискенезия желчевыводящих путей</p>
                <div class="row">
                    <div class="col-xs-20">
                        <span class="widget-tab__clinic pull-left">СМТ клиника</span>
                    </div>
                    <div class="col-xs-16">
                        <time class="widget-tab__date pull-right">19.05.2014</time>
                    </div>
                </div>
            </div>

            <!-- Tab -->
            <div class="widget-tab bottom-line-grey">
                <h3 class="widget-tab__title">УЗИ желудка</h3>
                <p class="widget-tab__description">Дискенезия желчевыводящих путей</p>
                <div class="row">
                    <div class="col-xs-20">
                        <span class="widget-tab__clinic pull-left">СМТ клиника</span>
                    </div>
                    <div class="col-xs-16">
                        <time class="widget-tab__date pull-right">19.05.2014</time>
                    </div>
                </div>
            </div>

        </div>
        <!-- Mini widget body -->

    </div>

</div>
<!-- / Mini widget -->