<!-- Mini widget - Consultation -->
<div class="col-xs-12">

    <div class="medcard-widget">

        <!-- Mini widget header -->
        <div class="medcard-widget__header">

            <a class="medcard-widget__title medcard-widget__title--drugs" href="drugs.html">Лекарства</a>
            <a class="medcard-widget__add-btn" href="#" title="Добавить новое лекарство"></a>

        </div>
        <!-- / Mini widget header -->

        <!-- Mini widget subheader-->
        <div class="medcard-widget__subheader">

            <p class="drugs__days drugs__days--medcard-widget">15 /
                <span class="drugs__days--smaller">20 дн. курса</span>
            </p>

            <div class="drugs__progress drugs__progress--medcard-widget">
                <div class="drugs__progress-bar drugs__progress-bar--medcard-widget">
                    <div class="drugs__progress-percents"></div>
                </div>
            </div>

        </div>
        <!-- / Mini widget subheader-->

        <!-- Mini widget body -->
        <div class="medcard-widget__body medcard-widget__body--drugs">

            <!-- Tab -->
            <div class="drugs__tab drugs__tab--medcard-widget">
                <h3 class="drugs__tab-title">Ноотропил</h3>
                <div class="row">
                    <div class="col-xs-32">
                        <span class="drugs__time">16:00</span>
                        <span class="drugs__time">16:00</span>
                        <span class="drugs__time drugs__time--active">16:00</span>
                        <span class="drugs__time">16:00</span>
                    </div>
                </div>
                <img class="drugs__tab-img" src="img/ico-logo-min.png" alt=""/>
            </div>
            <!-- / Tab -->

            <!-- Tab -->
            <div class="drugs__tab drugs__tab--medcard-widget">
                <h3 class="drugs__tab-title">Ноотропил</h3>
                <div class="row">
                    <div class="col-xs-32">
                        <span class="drugs__time">16:00</span>
                        <span class="drugs__time">16:00</span>
                        <span class="drugs__time drugs__time--active">16:00</span>
                        <span class="drugs__time">16:00</span>
                    </div>
                </div>
                <img class="drugs__tab-img" src="img/ico-logo-min.png" alt=""/>
            </div>
            <!-- / Tab -->

            <!-- Tab -->
            <div class="drugs__tab drugs__tab--medcard-widget">
                <h3 class="drugs__tab-title">Ноотропил</h3>
                <div class="row">
                    <div class="col-xs-32">
                        <span class="drugs__time">16:00</span>
                        <span class="drugs__time">16:00</span>
                        <span class="drugs__time drugs__time--active">16:00</span>
                        <span class="drugs__time">16:00</span>
                    </div>
                </div>
                <img class="drugs__tab-img" src="img/ico-logo-min.png" alt=""/>
            </div>
            <!-- / Tab -->

            <!-- Tab -->
            <div class="drugs__tab drugs__tab--medcard-widget">
                <h3 class="drugs__tab-title">Ноотропил</h3>
                <div class="row">
                    <div class="col-xs-32">
                        <span class="drugs__time">16:00</span>
                        <span class="drugs__time">16:00</span>
                        <span class="drugs__time drugs__time--active">16:00</span>
                        <span class="drugs__time">16:00</span>
                    </div>
                </div>
                <img class="drugs__tab-img" src="img/ico-logo-min.png" alt=""/>
            </div>
            <!-- / Tab -->

            <!-- Tab -->
            <div class="drugs__tab drugs__tab--medcard-widget">
                <h3 class="drugs__tab-title">Ноотропил</h3>
                <div class="row">
                    <div class="col-xs-32">
                        <span class="drugs__time">16:00</span>
                        <span class="drugs__time">16:00</span>
                        <span class="drugs__time drugs__time--active">16:00</span>
                        <span class="drugs__time">16:00</span>
                    </div>
                </div>
                <img class="drugs__tab-img" src="img/ico-logo-min.png" alt=""/>
            </div>
            <!-- / Tab -->

            <!-- Tab -->
            <div class="drugs__tab drugs__tab--medcard-widget">
                <h3 class="drugs__tab-title">Ноотропил</h3>
                <div class="row">
                    <div class="col-xs-32">
                        <span class="drugs__time">16:00</span>
                        <span class="drugs__time">16:00</span>
                        <span class="drugs__time drugs__time--active">16:00</span>
                        <span class="drugs__time">16:00</span>
                    </div>
                </div>
                <img class="drugs__tab-img" src="img/ico-logo-min.png" alt=""/>
            </div>
            <!-- / Tab -->

            <!-- Tab -->
            <div class="drugs__tab drugs__tab--medcard-widget">
                <h3 class="drugs__tab-title">Ноотропил</h3>
                <div class="row">
                    <div class="col-xs-32">
                        <span class="drugs__time">16:00</span>
                        <span class="drugs__time">16:00</span>
                        <span class="drugs__time drugs__time--active">16:00</span>
                        <span class="drugs__time">16:00</span>
                    </div>
                </div>
                <img class="drugs__tab-img" src="img/ico-logo-min.png" alt=""/>
            </div>
            <!-- / Tab -->

        </div>
        <!-- Mini widget body -->

    </div>

</div>
<!-- / Mini widget -->