<!-- Medcard filter block -->
<div class="col-xs-36 display-none medcard-filter">

    <div class="col-xs-36">
        <input class="medcard-filter__input" type="text" placeholder="Введите ключевое слово"/>
    </div>

    <div class="col-xs-36">
        <a class="medcard-filter__link" href="">Специализации</a>
        <span class="medcard-filter__tag">Акушерство <span class="medcard-filter__tag-close"></span> </span>
        <span class="medcard-filter__tag">Аллергология <span class="medcard-filter__tag-close"></span></span>
        <span class="medcard-filter__tag">Вертебрология <span class="medcard-filter__tag-close"></span></span>
        <span class="medcard-filter__tag">Вертебрология <span class="medcard-filter__tag-close"></span></span>
        <span class="medcard-filter__tag">Вертебрология <span class="medcard-filter__tag-close"></span></span>
        <span class="medcard-filter__tag">Вертебрология <span class="medcard-filter__tag-close"></span></span>
        <span class="medcard-filter__tag">Вертебрология <span class="medcard-filter__tag-close"></span></span>
        <span class="medcard-filter__tag">Вертебрология <span class="medcard-filter__tag-close"></span></span>
    </div>

    <div class="col-xs-36">

        <div class="col-xs-18">
            <a class="medcard-filter__date-link" href="#">21/05/2014 - 21/06/2014</a>
        </div>

        <div class="col-xs-18">
            <!--<a class="pull-right medcard-filter__find" href="#">Найти</a>-->
            <input type="submit" class="pull-right medcard-filter__find" value="Найти"/>
            <a href="#" class="pull-right medcard-filter__tag medcard-filter__tag--clear"> <span class="medcard-filter__tag-close medcard-filter__tag-close--clear"></span> Очистить фильтры</a>
        </div>

    </div>

</div>
<!-- / Medcard filter block -->