<!-- Doctor info Pop-Up -->
<div class="medcard-docinfo">

    <!-- Doctor info header -->
    <div class="medcard-docinfo__block">

        <span class="medcard-docinfo__star"></span>

        <div class="medcard-docinfo__doc-avatar">
            <img class="medcard-docinfo__doc-avatar-img" src="img/doc-avatar.png" alt=""/>
        </div>

        <h2 class="medcard-docinfo__doc-name">Сергеев Владимир Иванович</h2>

        <h3 class="medcard-docinfo__doc-specs">Гастроэнтеролог, Физиотерапевт</h3>

    </div>
    <!-- / Doctor info header -->

    <!-- Doctor info experience -->
    <div class="medcard-docinfo__block">

        <div class="medcard-docinfo__title-line">
            <span class="medcard-docinfo__title">Опыт</span>
        </div>

        <p class="medcard-docinfo__exp-rank">Врач высшей категории</p>

        <p class="medcard-docinfo__exp-years">20 лет стаж</p>

    </div>
    <!-- / Doctor info experience -->

    <!-- Doctor info phone -->
    <div class="medcard-docinfo__block">

        <div class="medcard-docinfo__title-line">
            <span class="medcard-docinfo__title">Телефон</span>
        </div>

        <a class="medcard-docinfo__phone" href="tel:+79206744334" title="Позвонить">+7 (920) 674-43-34</a>

    </div>
    <!-- / Doctor info phone -->

    <!-- Doctor info receiving locations -->
    <div class="medcard-docinfo__block">

        <div class="medcard-docinfo__title-line">
            <span class="medcard-docinfo__title">Места приема</span>
        </div>

        <!-- Receiving location item -->
        <div class="medcard-docinfo__location">

            <div class="col-xs-8">
                <img class="medcard-docinfo__clinic-logo" src="img/clinic-logo-2.png" alt=""/>
            </div>

            <div class="col-xs-28">
                <h3 class="medcard-docinfo__clinic-name">Будь здоров</h3>
                <p class="medcard-docinfo__clinic-subway">Горьковская</p>
            </div>

            <span class="medcard-docinfo__clinic-arrow"></span>

        </div>
        <!-- / Receiving location item -->

        <!-- Receiving location item -->
        <div class="medcard-docinfo__location ">

            <div class="col-xs-8">
                <img class="medcard-docinfo__clinic-logo" src="img/medici-logo.jpg" alt=""/>
            </div>

            <div class="col-xs-28">
                <h3 class="medcard-docinfo__clinic-name">Клиника «MEDICI»</h3>
                <p class="medcard-docinfo__clinic-subway">Невский проспект</p>
            </div>

            <span class="medcard-docinfo__clinic-arrow"></span>

        </div>
        <!-- / Receiving location item -->

        <!-- Receiving location item -->
        <div class="medcard-docinfo__location ">

            <div class="col-xs-8">
                <img class="medcard-docinfo__clinic-logo" src="img/clinic-logo-2.png" alt=""/>
            </div>

            <div class="col-xs-28">
                <h3 class="medcard-docinfo__clinic-name">Будь здоров</h3>
                <p class="medcard-docinfo__clinic-subway">Горьковская</p>
            </div>

            <span class="medcard-docinfo__clinic-arrow"></span>

        </div>
        <!-- / Receiving location item -->

        <!-- Receiving location item -->
        <div class="medcard-docinfo__location ">

            <div class="col-xs-8">
                <img class="medcard-docinfo__clinic-logo" src="img/medici-logo.jpg" alt=""/>
            </div>

            <div class="col-xs-28">
                <h3 class="medcard-docinfo__clinic-name">Клиника «MEDICI»</h3>
                <p class="medcard-docinfo__clinic-subway">Невский проспект</p>
            </div>

            <span class="medcard-docinfo__clinic-arrow"></span>

        </div>
        <!-- / Receiving location item -->

    </div>
    <!-- / Doctor info receiving locations -->

    <!-- Doctor info - about specialist -->
    <div class="medcard-docinfo__block">

        <div class="medcard-docinfo__title-line">
            <span class="medcard-docinfo__title">О специалисте</span>
        </div>

        <p class="medcard-docinfo__about">
            Орден Правительства РФ за выдающиеся заслуги в области гинекологии (2010 г.)
        </p>

        <p class="medcard-docinfo__about">
            Один из авторитетнейших специалистов России в области лечения миомы матки, основоположник методики Эмболизация миомы матки на территории СНГ
            Участник международных конгрессов и конференций по обмену опытом с мировыми специалистами в области гинекологии
        </p>

    </div>
    <!-- Doctor info - about specialist -->

    <!-- Allow to view profile -->
    <div class="medcard-docinfo__block">
        <input class="medcard-docinfo__allow-check" type="checkbox" id="allow-view-profile-checkbox"/>
        <label for="allow-view-profile-checkbox">Разрешить просмотр моего профиля</label>
    </div>
    <!-- / Allow to view profile -->

    <!-- OnDoc medcard support -->
    <div class="medcard-docinfo__block">

        <p class="medcard-docinfo__support-status">Есть поддержка медкарты OnDoc</p>

    </div>
    <!-- / OnDoc medcard support -->

</div>
<!-- / Doctor info Pop-Up -->