<!-- Content Header - Filter -->
<div class="row content-header">

    <!-- Back link -->
    <div class="col-xs-8">
        <a class="content-header__back" href="#">Назад</a>
    </div>

    <!-- Month picker -->
    <div class="text-right col-xs-8">
        <a class="content-header__sort-link content-header__sort-link--dropdown pull-right" href="#">Месяц

            <!-- Month dropdown -->
            <div class="widget-header__dropdown display-none">
                <ul class="widget-header__dropdown-list">
                    <li class="widget-header__dropdown-item" data-value='1'>Январь</li>
                    <li class="widget-header__dropdown-item" data-value='2'>Февраль</li>
                    <li class="widget-header__dropdown-item" data-value='3'>Март</li>
                    <li class="widget-header__dropdown-item" data-value='4'>Апрель</li>
                    <li class="widget-header__dropdown-item" data-value='5'>Март</li>
                    <li class="widget-header__dropdown-item" data-value='6'>Май</li>
                    <li class="widget-header__dropdown-item" data-value='7'>Июнь</li>
                    <li class="widget-header__dropdown-item" data-value='8'>Июль</li>
                    <li class="widget-header__dropdown-item" data-value='9'>Август</li>
                    <li class="widget-header__dropdown-item" data-value='10'>Сентябрь</li>
                    <li class="widget-header__dropdown-item" data-value='11'>Октябрь</li>
                    <li class="widget-header__dropdown-item" data-value='12'>Декабрь</li>
                </ul>
            </div>

        </a>

    </div>

    <!-- Date picker -->
    <div class="text-left col-xs-20">
        <time class="content-header__sort-link content-header__sort-link--dates">21/05/2014</time>
        <span class="content-header__sort-link content-header__sort-link--dates">-</span>
        <time class="content-header__sort-link content-header__sort-link--dates">21/06/2014</time>
    </div>

</div>
<!-- / Content Header - Filter -->