<!-- Choose specialisation Pop-UP -->
<div class="medcard-spec__wrapper display-none">
    <div class="row medcard-spec">

        <span class="medcard-spec__close"></span>

        <h2 class="col-xs-36 non-padding-left non-padding-right medcard-spec__title">Выберите специализации</h2>

        <!-- Specialisations -->
        <div class="col-xs-36 non-padding-left non-padding-right medcard-spec__inner-wrapper">

            <!-- One letter section -->
            <div class="col-xs-36 medcard-spec__letter-section">

                <div class="non-padding-left non-padding-right col-xs-36">
                    <h2 class="medcard-spec__letter">Д</h2>
                </div>

                <div class="row">

                    <!-- Specs column in letter section-->
                    <div class="col-xs-9">

                        <div class="medcard-spec__item">
                            Дерматовенерология
                        </div>
                        <div class="medcard-spec__item medcard-spec__item--checked">
                            Детская стоматология
                        </div>

                    </div>
                    <!-- / Specs column in letter section-->

                    <!-- Specs column in letter section-->
                    <div class="col-xs-9">

                        <div class="medcard-spec__item">
                            Дерматовенерология
                        </div>
                        <div class="medcard-spec__item medcard-spec__item--checked">
                            Детская стоматология
                        </div>

                    </div>
                    <!-- / Specs column in letter section-->

                    <!-- Specs column in letter section-->
                    <div class="col-xs-9">

                        <div class="medcard-spec__item">
                            Андрология
                        </div>
                        <div class="medcard-spec__item medcard-spec__item--checked">
                            Анестезиология и реаниматология
                        </div>

                    </div>
                    <!-- / Specs column in letter section-->

                    <!-- Specs column in letter section-->
                    <div class="col-xs-9">

                        <div class="medcard-spec__item">
                            Акушерство
                        </div>
                        <div class="medcard-spec__item medcard-spec__item--checked">
                            Аллергология
                        </div>

                    </div>
                    <!-- / Specs column in letter section-->

                    <!-- Specs column in letter section-->
                    <div class="col-xs-9">

                        <div class="medcard-spec__item">
                            Андрология
                        </div>
                        <div class="medcard-spec__item medcard-spec__item--checked">
                            Анестезиология и реаниматология
                        </div>

                    </div>
                    <!-- / Specs column in letter section-->

                </div>

            </div>
            <!-- / One letter section -->

            <!-- One letter section -->
            <div class="col-xs-36 medcard-spec__letter-section">

                <div class="non-padding-left non-padding-right col-xs-36">
                    <h2 class="medcard-spec__letter">А</h2>
                </div>

                <div class="row">

                    <!-- Specs column in letter section-->
                    <div class="col-xs-9">

                        <div class="medcard-spec__item">
                            Акушерство
                        </div>
                        <div class="medcard-spec__item medcard-spec__item--checked">
                            Аллергология
                        </div>

                    </div>
                    <!-- / Specs column in letter section-->

                    <!-- Specs column in letter section-->
                    <div class="col-xs-9">

                        <div class="medcard-spec__item">
                            Андрология
                        </div>
                        <div class="medcard-spec__item medcard-spec__item--checked">
                            Анестезиология и реаниматология
                        </div>

                    </div>
                    <!-- / Specs column in letter section-->

                    <!-- Specs column in letter section-->
                    <div class="col-xs-9">

                        <div class="medcard-spec__item">
                            Акушерство
                        </div>
                        <div class="medcard-spec__item medcard-spec__item--checked">
                            Аллергология
                        </div>

                    </div>
                    <!-- / Specs column in letter section-->

                    <!-- Specs column in letter section-->
                    <div class="col-xs-9">

                        <div class="medcard-spec__item">
                            Андрология
                        </div>
                        <div class="medcard-spec__item medcard-spec__item--checked">
                            Анестезиология и реаниматология
                        </div>

                    </div>
                    <!-- / Specs column in letter section-->

                </div>

            </div>
            <!-- / One letter section -->

            <!-- One letter section -->
            <div class="col-xs-36 medcard-spec__letter-section">

                <div class="non-padding-left non-padding-right col-xs-36">
                    <h2 class="medcard-spec__letter">П</h2>
                </div>

                <div class="row">

                    <!-- Specs column in letter section-->
                    <div class="col-xs-9">

                        <div class="medcard-spec__item">
                            Пародонтология
                        </div>

                    </div>
                    <!-- / Specs column in letter section-->

                    <!-- Specs column in letter section-->
                    <div class="col-xs-9">

                        <div class="medcard-spec__item">
                            Педиатрия
                        </div>

                    </div>
                    <!-- / Specs column in letter section-->

                    <!-- Specs column in letter section-->
                    <div class="col-xs-9">

                        <div class="medcard-spec__item">
                            Планирование семьи и репродукция
                        </div>

                    </div>
                    <!-- / Specs column in letter section-->

                    <!-- Specs column in letter section-->
                    <div class="col-xs-9">

                        <div class="medcard-spec__item">
                            Пластическая хиругия
                        </div>
                        <div class="medcard-spec__item medcard-spec__item--checked">
                            Подиатрия
                        </div>

                    </div>
                    <!-- / Specs column in letter section-->

                </div>

            </div>
            <!-- / One letter section -->

            <!-- One letter section -->
            <div class="col-xs-36 medcard-spec__letter-section">

                <div class="non-padding-left non-padding-right col-xs-36">
                    <h2 class="medcard-spec__letter">А</h2>
                </div>

                <div class="row">

                    <!-- Specs column in letter section-->
                    <div class="col-xs-9">

                        <div class="medcard-spec__item">
                            Акушерство
                        </div>
                        <div class="medcard-spec__item medcard-spec__item--checked">
                            Аллергология
                        </div>

                    </div>
                    <!-- / Specs column in letter section-->

                    <!-- Specs column in letter section-->
                    <div class="col-xs-9">

                        <div class="medcard-spec__item">
                            Андрология
                        </div>
                        <div class="medcard-spec__item medcard-spec__item--checked">
                            Анестезиология и реаниматология
                        </div>

                    </div>
                    <!-- / Specs column in letter section-->

                    <!-- Specs column in letter section-->
                    <div class="col-xs-9">

                        <div class="medcard-spec__item">
                            Акушерство
                        </div>
                        <div class="medcard-spec__item medcard-spec__item--checked">
                            Аллергология
                        </div>

                    </div>
                    <!-- / Specs column in letter section-->

                    <!-- Specs column in letter section-->
                    <div class="col-xs-9">

                        <div class="medcard-spec__item">
                            Андрология
                        </div>
                        <div class="medcard-spec__item medcard-spec__item--checked">
                            Анестезиология и реаниматология
                        </div>

                    </div>
                    <!-- / Specs column in letter section-->

                </div>

            </div>
            <!-- / One letter section -->

            <!-- One letter section -->
            <div class="col-xs-36 medcard-spec__letter-section">

                <div class="non-padding-left non-padding-right col-xs-36">
                    <h2 class="medcard-spec__letter">А</h2>
                </div>

                <div class="row">

                    <!-- Specs column in letter section-->
                    <div class="col-xs-9">

                        <div class="medcard-spec__item">
                            Акушерство
                        </div>
                        <div class="medcard-spec__item medcard-spec__item--checked">
                            Аллергология
                        </div>

                    </div>
                    <!-- / Specs column in letter section-->

                    <!-- Specs column in letter section-->
                    <div class="col-xs-9">

                        <div class="medcard-spec__item">
                            Андрология
                        </div>
                        <div class="medcard-spec__item medcard-spec__item--checked">
                            Анестезиология и реаниматология
                        </div>

                    </div>
                    <!-- / Specs column in letter section-->

                    <!-- Specs column in letter section-->
                    <div class="col-xs-9">

                        <div class="medcard-spec__item">
                            Акушерство
                        </div>
                        <div class="medcard-spec__item medcard-spec__item--checked">
                            Аллергология
                        </div>

                    </div>
                    <!-- / Specs column in letter section-->

                    <!-- Specs column in letter section-->
                    <div class="col-xs-9">

                        <div class="medcard-spec__item">
                            Андрология
                        </div>
                        <div class="medcard-spec__item medcard-spec__item--checked">
                            Анестезиология и реаниматология
                        </div>

                    </div>
                    <!-- / Specs column in letter section-->

                </div>

            </div>
            <!-- / One letter section -->

        </div>
        <!-- / Specialisations -->

        <div class="col-xs-36 text-center">
            <input type="submit" class="medcard-spec__btn" value="ОК"/>
        </div>

    </div>
</div>
<!-- / Choose specialisation Pop-UP -->