<!-- Left tabs block -->
<div class="col-xs-11 widget__left-column non-padding-right">

    <!-- Tab -->
    <div class="widget-tab widget-tab--active bottom-line-grey">
        <h3 class="widget-tab__title">Новая консультация</h3>
        <p class="widget-tab__description">Без описания</p>
        <div class="row">
            <div class="col-xs-20">
                <span class="widget-tab__clinic pull-left">Клиника</span>
            </div>
            <div class="col-xs-16">
                <time class="widget-tab__date pull-right">19.05.2014</time>
            </div>
        </div>
    </div>
    <!-- / Tab -->

    <!-- Tab -->
    <div class="widget-tab bottom-line-grey">
        <h3 class="widget-tab__title">ЛОРЛОРЛОРЛОРЛОРЛОРЛОРЛОРЛОРЛОРЛОРЛОРЛОР</h3>
        <p class="widget-tab__description">Острый ринит и аллергический отекОстрый ринит и аллергический отекОстрый ринит и аллергический отек</p>
        <div class="row">
            <div class="col-xs-20">
                <span class="widget-tab__clinic pull-left">КлиникаКлиникаКлиникаКлиникаКлиникаКлиникаКлиникаКлиникаКлиникаКлиникаКлиникаКлиникаКлиникаКлиника</span>
            </div>
            <div class="col-xs-16">
                <time class="widget-tab__date pull-right">19.05.2014</time>
            </div>
        </div>
    </div>
    <!-- / Tab -->

    <!-- Tab -->
    <div class="widget-tab bottom-line-grey">
        <h3 class="widget-tab__title">Невролог</h3>
        <p class="widget-tab__description">Воспаление узла коленцы</p>
        <div class="row">
            <div class="col-xs-20">
                <span class="widget-tab__clinic pull-left">КлиникаКлиникаКлиникаКлиникаКлиникаКлиникаКлиникаКлиникаКлиникаКлиникаКлиникаКлиникаКлиникаКлиника</span>
            </div>
            <div class="col-xs-16">
                <time class="widget-tab__date pull-right">19.05.2014</time>
            </div>
        </div>
    </div>
    <!-- / Tab -->

    <!-- Tab -->
    <div class="widget-tab bottom-line-grey">
        <h3 class="widget-tab__title">Терапевт</h3>
        <p class="widget-tab__description">Остарая респираторная инфекция</p>
        <div class="row">
            <div class="col-xs-20">
                <span class="widget-tab__clinic pull-left">КлиникаКлиникаКлиникаКлиникаКлиникаКлиникаКлиникаКлиникаКлиникаКлиникаКлиникаКлиникаКлиникаКлиника</span>
            </div>
            <div class="col-xs-16">
                <time class="widget-tab__date pull-right">19.05.2014</time>
            </div>
        </div>
    </div>
    <!-- / Tab -->

    <!-- Tab -->
    <div class="widget-tab bottom-line-grey">
        <h3 class="widget-tab__title">Гастроэнтеролог</h3>
        <p class="widget-tab__description">Дискенезия желчевыводящих путей</p>
        <div class="row">
            <div class="col-xs-20">
                <span class="widget-tab__clinic pull-left">КлиникаКлиникаКлиникаКлиникаКлиникаКлиникаКлиникаКлиникаКлиникаКлиникаКлиникаКлиникаКлиникаКлиника</span>
            </div>
            <div class="col-xs-16">
                <time class="widget-tab__date pull-right">19.05.2014</time>
            </div>
        </div>
    </div>
    <!-- / Tab -->

    <!-- Tab -->
    <div class="widget-tab bottom-line-grey">
        <h3 class="widget-tab__title">Терапевт</h3>
        <p class="widget-tab__description">Остарая респираторная инфекция</p>
        <div class="row">
            <div class="col-xs-20">
                <span class="widget-tab__clinic pull-left">КлиникаКлиникаКлиникаКлиникаКлиникаКлиникаКлиникаКлиникаКлиникаКлиникаКлиникаКлиникаКлиникаКлиника</span>
            </div>
            <div class="col-xs-16">
                <time class="widget-tab__date pull-right">19.05.2014</time>
            </div>
        </div>
    </div>
    <!-- / Tab -->

    <!-- Tab -->
    <div class="widget-tab bottom-line-grey">
        <h3 class="widget-tab__title">ЛОР</h3>
        <p class="widget-tab__description">Острый ринит и аллергический отек</p>
        <div class="row">
            <div class="col-xs-20">
                <span class="widget-tab__clinic pull-left">КлиникаКлиникаКлиникаКлиникаКлиникаКлиникаКлиникаКлиникаКлиникаКлиникаКлиникаКлиникаКлиникаКлиника</span>
            </div>
            <div class="col-xs-16">
                <time class="widget-tab__date pull-right">19.05.2014</time>
            </div>
        </div>
    </div>
    <!-- / Tab -->

    <!-- Tab -->
    <div class="widget-tab bottom-line-grey">
        <h3 class="widget-tab__title">Невролог</h3>
        <p class="widget-tab__description">Воспаление узла коленца</p>
        <div class="row">
            <div class="col-xs-20">
                <span class="widget-tab__clinic pull-left">КлиникаКлиникаКлиникаКлиникаКлиникаКлиникаКлиникаКлиникаКлиникаКлиникаКлиникаКлиникаКлиникаКлиника</span>
            </div>
            <div class="col-xs-16">
                <time class="widget-tab__date pull-right">19.05.2014</time>
            </div>
        </div>
    </div>
    <!-- / Tab -->

    <!-- Tab -->
    <div class="widget-tab bottom-line-grey">
        <h3 class="widget-tab__title">Терапевт</h3>
        <p class="widget-tab__description">Остарая респираторная инфекция</p>
        <div class="row">
            <div class="col-xs-20">
                <span class="widget-tab__clinic pull-left">КлиникаКлиникаКлиникаКлиникаКлиникаКлиникаКлиникаКлиникаКлиникаКлиникаКлиникаКлиникаКлиникаКлиника</span>
            </div>
            <div class="col-xs-16">
                <time class="widget-tab__date pull-right">19.05.2014</time>
            </div>
        </div>
    </div>
    <!-- / Tab -->

    <!-- Tab -->
    <div class="widget-tab bottom-line-grey">
        <h3 class="widget-tab__title">Терапевт</h3>
        <p class="widget-tab__description">Остарая респираторная инфекцияинфекцияинфекцияинфекцияинфекцияинфекция</p>
        <div class="row">
            <div class="col-xs-20">
                <span class="widget-tab__clinic pull-left">КлиникаКлиникаКлиникаКлиникаКлиникаКлиникаКлиникаКлиникаКлиникаКлиникаКлиникаКлиникаКлиникаКлиника</span>
            </div>
            <div class="col-xs-16">
                <time class="widget-tab__date pull-right">19.05.2014</time>
            </div>
        </div>
    </div>
    <!-- / Tab -->

</div>
<!-- / Left tabs block -->