<!-- Clinic reception -->
<div class="clinics-modal display-none">
    <div class="widgets-block">
        <form action="">

            <div class="row">

                <span class="clinics-modal__close"></span>

                <div class="col-xs-36 text-center">
                    <p class="clinics-modal__title">Записаться на прием</p>
                </div>

                <div class="col-xs-36 text-center clinics-modal__line">
                    <span class="clinics-modal__subtitle"></span>
                </div>

                <div class="col-xs-36 text-center">
                    <p class="clinics-modal__telephone--main">8-800-200-45-45</p>

                    <p class="clinics-modal__cmt">CMT на Московском</p>
                </div>

                <div class="col-xs-36 text-center clinics-modal__place-info">
                    <span class="clinics-modal__address">Наб канала Грибоедова, 60</span>
                    <span class="clinics-modal__time">ПН-ВС 8:00-20:00</span>
                </div>

                <div class="col-xs-36 text-center clinics-modal__line">
                    <span class="clinics-modal__subtitle">Филиалы клиники</span>
                </div>

                <div class="col-xs-36 text-center">
                    <p class="clinics-modal__telephone--another">8-800-200-45-45</p>

                    <p class="clinics-modal__text">CMT на Римской</p>
                </div>

                <div class="col-xs-36 text-center clinics-modal__place-info">
                    <span class="clinics-modal__address">Наб канала Грибоедова, 60</span>
                    <span class="clinics-modal__time">ПН-ВС 8:00-20:00</span>
                </div>

                <div class="col-xs-36 text-center clinics-modal__line">
                    <span class="clinics-modal__subtitle"></span>
                </div>

                <div class="col-xs-36 text-center">
                    <p class="clinics-modal__telephone--another">8-800-200-45-45</p>

                    <p class="clinics-modal__text">CMT на Невском</p>
                </div>

                <div class="col-xs-36 text-center clinics-modal__place-info">
                    <span class="clinics-modal__address">Наб канала Грибоедова, 60</span>
                    <span class="clinics-modal__time">ПН-ВС 8:00-20:00</span>
                </div>


            </div>

        </form>
    </div>
</div>
