<!-- Choose clinic directions Pop-UP -->
<div class="clinic-directions__wrapper display-none">
    <div class="row clinic-directions">

        <span class="clinic-directions__close"></span>

        <h2 class="col-xs-36 clinic-directions__title">Медицинские направления клиники</h2>

        <!-- Specialisations -->
        <div class="col-xs-36 clinic-directions__inner-wrapper">

            <div class="col-xs-9">
                <span class="clinic-directions__item">Акушерство</span>
                <span class="clinic-directions__item">Аллергология</span>
                <span class="clinic-directions__item">Вакцинация</span>
                <span class="clinic-directions__item">Вакцинация</span>
                <span class="clinic-directions__item">Акушерство</span>
                <span class="clinic-directions__item">Аллергология</span>
                <span class="clinic-directions__item">Вакцинация</span>
                <span class="clinic-directions__item">Вакцинация</span>
                <span class="clinic-directions__item">Акушерство</span>
                <span class="clinic-directions__item">Аллергология</span>
                <span class="clinic-directions__item">Вакцинация</span>
                <span class="clinic-directions__item">Вакцинация</span>
                <span class="clinic-directions__item">Акушерство</span>
                <span class="clinic-directions__item">Аллергология</span>
                <span class="clinic-directions__item">Вакцинация</span>
                <span class="clinic-directions__item">Вакцинация</span>
            </div>

            <div class="col-xs-9">
                <span class="clinic-directions__item">Андрология</span>
                <span class="clinic-directions__item">Анестезиология и реаниматология</span>
                <span class="clinic-directions__item">Вертебрология</span>
                <span class="clinic-directions__item">Вертебрология</span>
                <span class="clinic-directions__item">Андрология</span>
                <span class="clinic-directions__item">Анестезиология и реаниматология</span>
                <span class="clinic-directions__item">Вертебрология</span>
                <span class="clinic-directions__item">Андрология</span>
                <span class="clinic-directions__item">Анестезиология и реаниматология</span>
                <span class="clinic-directions__item">Вертебрология</span>
                <span class="clinic-directions__item">Вертебрология</span>
                <span class="clinic-directions__item">Андрология</span>
                <span class="clinic-directions__item">Анестезиология и реаниматология</span>
                <span class="clinic-directions__item">Вертебрология</span>
            </div>

            <div class="col-xs-9">
                <span class="clinic-directions__item">Акушерство</span>
                <span class="clinic-directions__item">Аллергология</span>
                <span class="clinic-directions__item">Вертебрология</span>
                <span class="clinic-directions__item">Вертебрология</span>
                <span class="clinic-directions__item">Акушерство</span>
                <span class="clinic-directions__item">Аллергология</span>
                <span class="clinic-directions__item">Вертебрология</span>
                <span class="clinic-directions__item">Акушерство</span>
                <span class="clinic-directions__item">Аллергология</span>
                <span class="clinic-directions__item">Вертебрология</span>
                <span class="clinic-directions__item">Вертебрология</span>
                <span class="clinic-directions__item">Акушерство</span>
                <span class="clinic-directions__item">Аллергология</span>
                <span class="clinic-directions__item">Вертебрология</span>
            </div>

            <div class="col-xs-9">
                <span class="clinic-directions__item">Андрология</span>
                <span class="clinic-directions__item">Анестезиология и реаниматология</span>
                <span class="clinic-directions__item">Восстановительная медицина</span>
                <span class="clinic-directions__item">Восстановительная медицина</span>
                <span class="clinic-directions__item">Андрология</span>
                <span class="clinic-directions__item">Анестезиология и реаниматология</span>
                <span class="clinic-directions__item">Восстановительная медицина</span>
                <span class="clinic-directions__item">Андрология</span>
                <span class="clinic-directions__item">Анестезиология и реаниматология</span>
                <span class="clinic-directions__item">Восстановительная медицина</span>
                <span class="clinic-directions__item">Восстановительная медицина</span>
                <span class="clinic-directions__item">Андрология</span>
                <span class="clinic-directions__item">Анестезиология и реаниматология</span>
                <span class="clinic-directions__item">Восстановительная медицина</span>
            </div>

        </div>
        <!-- / Specialisations -->

        <div class="col-xs-36 text-center">
            <input type="submit" class="clinic-directions__btn" value="ОК"/>
        </div>

    </div>
</div>