<!-- Choose specialisation Pop-UP -->
<div class="medcard-spec__wrapper display-none">
    <div class="row medcard-spec">

        <span class="medcard-spec__close"></span>

        <h2 class="col-xs-36 medcard-spec__title">Выберите специализации</h2>

        <!-- Specialisations -->
        <div class="col-xs-36 medcard-spec__inner-wrapper">

            <!-- One letter section -->
            <div class="col-xs-36 medcard-spec__letter-section">

                <div class="non-padding-left-right col-xs-36">
                    <h2 class="medcard-spec__letter">Д</h2>
                </div>

                <div class="row">
                    <div class="col-xs-36">

                        <span class="medcard-spec__item">Дерматовенерология</span>
                        <span class="medcard-spec__item medcard-spec__item--checked">Детская стоматология</span>
                        <span class="medcard-spec__item">Дерматовенерология</span>
                        <span class="medcard-spec__item">Андрология</span>
                        <span class="medcard-spec__item medcard-spec__item--checked">Детская стоматология</span>
                        <span class="medcard-spec__item medcard-spec__item--checked">Анестезиология и реаниматология</span>

                    </div>
                </div>

            </div>
            <!-- / One letter section -->

            <!-- One letter section -->
            <div class="col-xs-36 medcard-spec__letter-section">

                <div class="non-padding-left-right col-xs-36">
                    <h2 class="medcard-spec__letter">Д</h2>
                </div>

                <div class="row">
                    <div class="col-xs-36">

                        <span class="medcard-spec__item">Дерматовенерология</span>
                        <span class="medcard-spec__item medcard-spec__item--checked">Детская стоматология</span>
                        <span class="medcard-spec__item">Дерматовенерология</span>
                        <span class="medcard-spec__item">Андрология</span>
                        <span class="medcard-spec__item medcard-spec__item--checked">Детская стоматология</span>
                        <span class="medcard-spec__item medcard-spec__item--checked">Анестезиология и реаниматология</span>

                    </div>
                </div>

            </div>
            <!-- / One letter section -->

            <!-- One letter section -->
            <div class="col-xs-36 medcard-spec__letter-section">

                <div class="non-padding-left-right col-xs-36">
                    <h2 class="medcard-spec__letter">Д</h2>
                </div>

                <div class="row">
                    <div class="col-xs-36">

                        <span class="medcard-spec__item">Дерматовенерология</span>
                        <span class="medcard-spec__item medcard-spec__item--checked">Детская стоматология</span>
                        <span class="medcard-spec__item">Дерматовенерология</span>
                        <span class="medcard-spec__item">Андрология</span>
                        <span class="medcard-spec__item medcard-spec__item--checked">Детская стоматология</span>
                        <span class="medcard-spec__item medcard-spec__item--checked">Анестезиология и реаниматология</span>

                    </div>
                </div>

            </div>
            <!-- / One letter section -->

            <!-- One letter section -->
            <div class="col-xs-36 medcard-spec__letter-section">

                <div class="non-padding-left-right col-xs-36">
                    <h2 class="medcard-spec__letter">Д</h2>
                </div>

                <div class="row">
                    <div class="col-xs-36">

                        <span class="medcard-spec__item">Дерматовенерология</span>
                        <span class="medcard-spec__item medcard-spec__item--checked">Детская стоматология</span>
                        <span class="medcard-spec__item">Дерматовенерология</span>
                        <span class="medcard-spec__item">Андрология</span>
                        <span class="medcard-spec__item medcard-spec__item--checked">Детская стоматология</span>
                        <span class="medcard-spec__item medcard-spec__item--checked">Анестезиология и реаниматология</span>

                    </div>
                </div>

            </div>
            <!-- / One letter section -->

            <!-- One letter section -->
            <div class="col-xs-36 medcard-spec__letter-section">

                <div class="non-padding-left-right col-xs-36">
                    <h2 class="medcard-spec__letter">Д</h2>
                </div>

                <div class="row">
                    <div class="col-xs-36">

                        <span class="medcard-spec__item">Дерматовенерология</span>
                        <span class="medcard-spec__item medcard-spec__item--checked">Детская стоматология</span>
                        <span class="medcard-spec__item">Дерматовенерология</span>
                        <span class="medcard-spec__item">Андрология</span>
                        <span class="medcard-spec__item medcard-spec__item--checked">Детская стоматология</span>
                        <span class="medcard-spec__item medcard-spec__item--checked">Анестезиология и реаниматология</span>

                    </div>
                </div>

            </div>
            <!-- / One letter section -->

        </div>
        <!-- / Specialisations -->

        <div class="col-xs-36 text-center">
            <input type="submit" class="medcard-spec__btn" value="ОК"/>
        </div>

    </div>
</div>
<!-- / Choose specialisation Pop-UP -->
<!--TODO: rewrite css to independent style-->