<div class="settings display-none">

    <div class="settings__bg"></div>

    <div class="settings__modal">


        <form action="">

            <p class="settings__title">Настройка виджетов</p>

            <div class="settings__body">

                <!-- Settings item -->
                <div class="settings__item">
                    <input type="checkbox" id="check-1" class="settings__input" checked/>
                    <label for="check-1" class="settings__label">
                        <i class="settings__icon settings__icon--pulse"></i>
                        <span class="settings__name">Пульс</span>
                    </label>
                </div>

                <!-- Settings item -->
                <div class="settings__item">
                    <input type="checkbox" id="check-2" class="settings__input" checked/>
                    <label for="check-2" class="settings__label">
                        <i class="settings__icon settings__icon--pressure"></i>
                        <span class="settings__name">Давление</span>
                    </label>
                </div>

                <!-- Settings item -->
                <div class="settings__item">
                    <input type="checkbox" id="check-3" class="settings__input"/>
                    <label for="check-3" class="settings__label">
                        <i class="settings__icon settings__icon--weight"></i>
                        <span class="settings__name">Вес</span>
                    </label>
                </div>

                <!-- Settings item -->
                <div class="settings__item">
                    <input type="checkbox" id="check-4" class="settings__input" checked/>
                    <label for="check-4" class="settings__label">
                        <i class="settings__icon settings__icon--temp"></i>
                        <span class="settings__name">Температура</span>
                    </label>
                </div>

                <!-- Settings item -->
                <div class="settings__item settings__item--disabled">
                    <input type="checkbox" id="check-5" class="settings__input" disabled/>
                    <label for="check-5" class="settings__label">
                        <i class="settings__icon settings__icon--sugar"></i>
                        <span class="settings__name">Сахар</span>
                    </label>
                </div>

                <!-- Settings item -->
                <div class="settings__item">
                    <input type="checkbox" id="check-6" class="settings__input"/>
                    <label for="check-6" class="settings__label">
                        <i class="settings__icon settings__icon--cholesterol"></i>
                        <span class="settings__name">Холестерин</span>
                    </label>
                </div>

            </div>

            <!-- Buttons -->
            <div class="row">
                <div class="col-xs-36 text-center">
                    <input type="submit" class="widget-btn widget-btn--submit-no" value="Отмена">
                    <input type="submit" class="widget-btn widget-btn--submit-yes" value="OK">
                </div>
            </div>

            <span class="settings__close"></span>

        </form>


    </div>

</div>