<!-- Datepicker -->
<section class="datepicker">
    <input class="datepicker__input" type="text" value="11.05.2015"/>
    <hr class="datepicker__hr"/>

    <div class="datepicker__month">
        <a href="#" class="datepicker__arrow pull-left"></a>
        <span class="datepicker__month-item">Январь, 2015</span>
        <a href="#" class="datepicker__arrow datepicker__arrow--right pull-right"></a>
    </div>

    <table border="0" class="datepicker__table">

        <tr class="datepicker__table-head">
            <td>пн</td>
            <td>вт</td>
            <td>ср</td>
            <td>чт</td>
            <td>пт</td>
            <td>сб</td>
            <td>вс</td>
        </tr>

        <tr class="datepicker__table-row">
            <td class="datepicker__table-item">3</td>
            <td class="datepicker__table-item">4</td>
            <td class="datepicker__table-item">5</td>
            <td class="datepicker__table-item">6</td>
            <td class="datepicker__table-item">7</td>
            <td class="datepicker__table-item">8</td>
            <td class="datepicker__table-item">9</td>
        </tr>

        <tr class="datepicker__table-row">
            <td class="datepicker__table-item">10</td>
            <td class="datepicker__table-item datepicker__table-item--active">11</td>
            <td class="datepicker__table-item">12</td>
            <td class="datepicker__table-item">13</td>
            <td class="datepicker__table-item">14</td>
            <td class="datepicker__table-item">15</td>
            <td class="datepicker__table-item">16</td>
        </tr>

        <tr class="datepicker__table-row">
            <td class="datepicker__table-item">17</td>
            <td class="datepicker__table-item">18</td>
            <td class="datepicker__table-item">19</td>
            <td class="datepicker__table-item datepicker__table-item--current">20</td>
            <td class="datepicker__table-item">21</td>
            <td class="datepicker__table-item">22</td>
            <td class="datepicker__table-item">23</td>
        </tr>

        <tr class="datepicker__table-row">
            <td class="datepicker__table-item">24</td>
            <td class="datepicker__table-item">25</td>
            <td class="datepicker__table-item">26</td>
            <td class="datepicker__table-item">27</td>
            <td class="datepicker__table-item">28</td>
            <td class="datepicker__table-item">29</td>
            <td class="datepicker__table-item">30</td>
        </tr>

        <tr class="datepicker__table-row">
            <td class="datepicker__table-item">31</td>
            <td class="datepicker__table-item datepicker__table-item--nextmonth">1</td>
            <td class="datepicker__table-item datepicker__table-item--nextmonth">2</td>
            <td class="datepicker__table-item datepicker__table-item--nextmonth">3</td>
            <td class="datepicker__table-item datepicker__table-item--nextmonth">4</td>
            <td class="datepicker__table-item datepicker__table-item--nextmonth">5</td>
            <td class="datepicker__table-item datepicker__table-item--nextmonth">6</td>
        </tr>

    </table>

    <div class="datepicker__time">
        <a href="#" class="datepicker__arrow datepicker__arrow--up"></a>
        <input class="datepicker__time-input" type="text" value="11"/>
        <a href="#" class="datepicker__arrow datepicker__arrow--down"></a>
    </div>

    <span class="datepicker__time-char">ч</span>

    <div class="datepicker__time">
        <a href="#" class="datepicker__arrow datepicker__arrow--up"></a>
        <input class="datepicker__time-input" type="text" value="05"/>
        <a href="#" class="datepicker__arrow datepicker__arrow--down"></a>
    </div>

    <span class="datepicker__time-char">м</span>

    <hr class="datepicker__hr datepicker__hr--last"/>

    <div class="datepicker__buttons">
        <a class="datepicker__btn datepicker__btn--exit" href=""></a>
        <a class="datepicker__btn datepicker__btn--ok" href=""></a>
    </div>

</section>