<!-- popup agreement  -->
<div class="agreement-modal agreement-modal__decline display-none">
    <div class="widgets-block">
        <form action="">

            <div class="row">
                <span class="agreement-modal__close"></span>

                <div class="col-xs-36 text-center">
                    <p class="agreement-modal__title">После отклонения пользовательского соглашения,<br/>ваш аккаунт
                        будет удален, а вы возвращены<br/>на главную страницу OnDoc.me.</p>

                    <p class="agreement-modal__title">Вы действительно хотите отклонить соглашение?</p>

                    <a href="" class="agreement-modal__btn--reject">Отклонить</a>
                    <a href="" class="agreement-modal__btn--decline">Принять</a>
                </div>
            </div>


        </form>
    </div>
</div>