<!-- popup feedback  -->
<div class="feedback-modal">
    <div class="widgets-block">

        <div class="row">

            <span class="feedback-modal__close"></span>

            <div class="col-xs-36 text-center feedback-modal__contact">
                <p class="feedback-modal__title">Мы стремимся сделать ваш опыт заботы о здоровье<br/> интересным и
                    продуктивным</p>

                <p class="feedback-modal__sub-title">Если у вас есть вопросы и пожелания, пожалуйста,<br/>заполните
                    контактную форму</p>
                <input type="text" placeholder="Имя" class="feedback-modal__input">
                <input type="text" placeholder="Email" class="feedback-modal__input">
                <input type="text" placeholder="Контактный телефон" class="feedback-modal__input">
                <textarea name="" id="" cols="10" rows="5" placeholder="Текст сообщения"
                          class="feedback-modal__textarea text-left"></textarea>

                <a href="" class="feedback-modal__btn--send">Отправить</a>
            </div>

            <div class="col-xs-36 text-center feedback-modal__success display-none">

                <div class="feedback-modal__img-success"></div>
                <p class="feedback-modal__title">Сообщение<br/>успешно отправлено</p>

            </div>

        </div>


    </div>
</div>