.col-230px{
  min-width: 231px;
}

.bottom-line-light{
  border-bottom: 1px solid rgba(255,255,255,0.2);
}

.bottom-line-grey{
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.right-line-grey{
  border-right: 1px solid rgba(0, 0, 0, 0.1);;
}

.non-padding-right{
  padding-right: 0;
}

.non-padding-left{
  padding-left: 0;
}
